[2019-10-03 17:56] kpheasey opened #1 "Community Action"
We are starting an official/unofficial fork Netflix/fast_jsonapi.  Until that project's maintainer is active, we will keep development going.

There are a few things we need to handle to make this successful.

- [x] Migrate PR's from official repo.
  - It would be best to credit the original authors.  Maybe we can contact everyone and give them 30 days to respond.  Otherwise we will copy and give

[2019-10-04 08:10] jopotts commented on #1
Thanks @kpheasey ! All good points above. 👍

To get the ball rolling, I've added the PR I had on the original repo which was easier than I'd thought.

To add https://github.com/Netflix/fast_jsonapi/pull/411 for example, you can simply create a new PR direct from a URL like this: https://github.com/fast-jsonapi/fast_jsonapi/compare/dev...krzysiek1507:maintenance/test-against-ruby-2-6 (cut & paste t

[2019-10-04 11:41] krzysiek1507 commented on #1
Created #3. I hope it still works! ;)

[2019-10-04 11:41] krzysiek1507 commented on #1
Please let me know if you want my other PR to be created for this repo. https://github.com/Netflix/fast_jsonapi/pulls/krzysiek1507

[2019-10-04 12:41] kpheasey commented on #1
@krzysiek1507 Thanks for #3!  Your other PR's look great too, please pull them over.  Any interest in being a maintainer?

[2019-10-04 13:05] krzysiek1507 commented on #1
@kpheasey unfortunately, I don't have enough time for being a maintainer currently.

[2019-10-04 13:05] kpheasey commented on #1
No worries, thanks for your contributions!

[2019-10-04 13:10] krzysiek1507 commented on #1
I've just created a few more PRs with fixes that I made a long time ago.

[2019-10-04 16:59] kpheasey commented on #1
I merged in some of the PR's and await feedback on others.  Additionally, master was behind dev, so I rebased it.

Don't know when I can setup all the status checks, but Travis is good for now.

[2019-10-04 18:03] stas commented on #1
@kpheasey I'm very interested to be part of the reviews. Mainly, because of the https://github.com/stas/jsonapi.rb

I already subscribed to the notifications and will try to jump in when possible.

Since there are projects depending on the original gem, it won't be easy to manage the dependencies outside the rubygems. There are 4 people listed as maintainers on Rubygems, can we email them and ask

[2019-10-04 21:54] ThomasSevestre opened #14 "has_many serializer inference"
Serializer inference on relationships can be improved.
For instance `belongs_to :owner, record_type: :user` uses `OwnerSerializer`.
In my opinion, it would make more sens to use `UserSerializer`.

I have a patch here: https://github.com/ThomasSevestre/fast_jsonapi/commit/46b5fdefb675159d89ec01b66cb45dea1590cbdf

It is a breaking change, I'll make a PR if you are interested.

[2019-10-04 23:51] kpheasey commented on #1
@stas Welcome aboard!

I have a similar project to yours that we use internally.  Documentation is still a work in progress, it's a low priority because my team knows it inside out.  https://github.com/kp-software/jsonapi_actions

[2019-10-04 23:54] kpheasey commented on #1
@jopotts @stas

I added a [CHANGELOG](https://github.com/fast-jsonapi/fast_jsonapi/blob/dev/CHANGELOG.md)

Also, I think we should switch to semantic versioning.  Our first release should be 1.6.0, in a week or two once we have active PRs reviewed/merged.

[2019-10-05 12:38] stas commented on #14
Lets get some more feedback regarding this first.
Personally I do prefer a more explicit way to provide the `type` and the `serializer`, but I don't have a strong opinion.

[2019-10-25 13:37] kpheasey commented on #14
I agree, this has been confusing for me a few times.  However, I haven't had the time to come up with a clear set of rules to implement.  @ThomasSevestre, do you have suggestions?

[2019-10-25 13:40] kpheasey commented on #1
@jopotts @stas I've merged in another PR that adds conditional links.  There's definitely enough new improvements and additions to warrant the 1.6.0 release at the end of the month!

At that point, we should also open another issue on the main repository, to point people over here.... and maybe catch the dev's attention if we're lucky.

[2019-10-25 13:45] stas commented on #1
@kpheasey sounds good, thank you!

Re, the original project, I wouldn't mind setting up an email with those folks who are listed in the gemspec file and ask them directly...

[2019-10-25 13:51] kpheasey commented on #1
Contacting them via email sounds like a good approach.  It would be great to get the updates on rubygems.

[2019-10-25 13:57] ThomasSevestre commented on #14
I beleive it should be the least surprising as possible. IMO the behavior should be :
- use serializer option if specified
- use record_type option if specified
- use relation name

[2019-10-25 16:33] jopotts commented on #1
A release would be great. Definitely warranted. And trying to get the original repo owners' attention is worth a shot too. Ultimately, if the Netflix version becomes active again and they get community support (you guys) then that would be the best outcome in my opinion. Then everyone can continue with updates on the same gem, making everyone's life easier. Thanks for all the hard work on this!

[2019-11-05 19:30] stas commented on #1
:zap: :email: :dash:

[2019-11-06 17:37] kapso opened #19 "Relationship scope"
Is there a way to add scope to relationship, so something like this

Serializer:
[code]

Given the following models:
[code]

[2019-11-06 18:18] stas commented on #19
@kapso you can use the `object_method_name` parameter to specify any method that wraps or returns a relationship. The serializer will try to build your relationships out of anything that's returned by that mehtod.

[2019-11-07 01:54] kapso commented on #19
Thanks. Can you pass a block? So something like... `object_method_name: -> { employees.temp }`

[2019-11-07 11:41] stas commented on #19
@kapso nope[1] :slightly_frowning_face:

[1]: https://github.com/fast-jsonapi/fast_jsonapi/blob/master/lib/fast_jsonapi/relationship.rb#L51

[2019-11-11 16:51] bradrobertson commented on #19
@kapso scoping your association shouldn't be the responsibility of a serializer, that's the ORMs duty (to choose which records to load) You can put that in your model though:
[code]

[2019-11-11 17:10] bradrobertson opened #21 "Allow conditional relationships to see what's been included"
I'm trying to allow a serializer to define a `has_many` on some association only if it's actually be included from the serializer options. Seems like a pretty obvious use case ?

Would you be open to a PR that gives access to `@includes` to the `:if` proc on associations?.
I also noticed there's now an [`included` boolean that's passed in](https://github.com/fast-jsonapi/fast_jsonapi/blob/master/l

[2019-11-11 17:32] stas commented on #21
@bradrobertson I believe `params` was designed to be used for this exact use-cases. In our case we ended up using `params` since the conditional required additional context (ex. user session/ACL). I don't see anything wrong with having the `included` being passed over, but in the same time `params` covers already a larger set of cases including this one, so a new parameter would provide just _some

[2019-11-14 18:23] bradrobertson commented on #21
Ya I understand that perspective but it seems a bit unreasonable to need to duplicate the list of included params when it's _literally_ an option we already pass in:
[code]
Doesn't this seem a bit silly?

[2019-11-16 16:03] AAlvarez90 opened #22 "Send :included data inside :relationships."
Current Issue:
I have noticed that when you include an association for a record. The key :relationships only sends `:id and :type` for that relationship. Then as a sibling of `data` it sends the `included` key with an array of objects which can be differentiated by their `type` attribute.

Additional Information:
https://stackoverflow.com/questions/55782066/how-to-get-the-fast-jsonapi-to-return-th

[2019-11-16 16:19] ujh commented on #22
My guess is that it's done the way it's done because that's how the json:api spec specifies it.

[2019-11-16 17:24] stas commented on #22
@AAlvarez90 please [consult the specifications](https://jsonapi.org/format/#document-resource-object-linkage) for this exact question.

Generally speaking, your suggestion would lead to a bunch of complexity (consider circular dependencies and just the size of the payload growing every time your relationship resource is used more than one time). I strongly advise you to start with the documentatio

[2019-11-16 17:24] #22 closed

[2019-11-22 17:42] mocerinoj opened #23 "`lazy_load_data` overwrites `include` and does not render relationship data"
When lazy loading polymorphic relationships.. when including the relationship, the relationship object comes through but the relationship data does not.

[code]

Without including the relationship, the data is not loaded (as expected):
[code]
yields:
[code]

Then, I want to explicitly include the `owner` relationship:
[code]
yields:
[code]
^^^ This is missing the data on `provider_lead.relationshi

[2019-11-23 12:17] stas commented on #23
@mocerinoj it looks like this parameter (`lazy_load_data: true`) was designed to work this way:
https://github.com/fast-jsonapi/fast_jsonapi/blob/fdcaed6f0d72cf793b3117a5081de5fbd7466574/spec/lib/object_serializer_relationship_links_spec.rb#L53-L68

So I'm not sure what's broken here, could you help us understand your concern please? :)

[2019-11-23 16:45] mocerinoj commented on #23
That is true and expected (see my first example). However, when explicitly including that lazy loaded relationship, it should render the key.  https://github.com/fast-jsonapi/fast_jsonapi/blob/master/lib/fast_jsonapi/relationship.rb#L42

[2019-11-24 13:25] stas commented on #19
@kapso I'm closing this. There are a couple of ways you can achieve what you were asking for. If there's a specific API design change, please open an issue we can review the suggestion exclusively.

[2019-11-24 13:25] #19 closed

[2019-11-25 14:14] Faisal-nfl commented on #22
@AAlvarez90
I have to do something like this in UserSerialzier to make desired response.

attribute :organizations do |object|
   OrganizationSerializer.new(object.organizations)
end

not sure if there is any other way.

**IT DOES NOT MAKE SENSE OF FASTER IF APP SIDE HAS PROCESS DATA AS WELL.**

[2019-11-25 14:30] stas commented on #22
@Faisal-nfl please address your concerns to the `json-api` fellows. This is just the wrong place to discuss the specs.

[2019-11-26 10:39] sandstrom opened #24 "Unfork"
This is a great project! 🏅

To make it more obvious that this is the canonical repository, I'd suggest unforking from the original repo (removing the text "forked from …").

To unfork, simply contact Github support and explain that the other repo is stale/old and that you want to unfork. They'll fix it within ~1 day.

Having a non-forked repo will help signal that this is the canonical repo, which

[2019-11-26 16:11] isfalcantara commented on #1
Any updates on contacting the maintainers of the base repo?

[2019-11-26 16:22] kpheasey commented on #1
Yes, @stas reached out to the maintainers listed on rubygems.  We received a response from an engineering manager at Netflix on 2019-11-19

[code]

[2019-11-26 16:29] stas commented on #24
@sandstrom, I added your suggestion to our list of TODOs at #1

Once we get a response from the original authors, we'll decide on the next steps.

Thank you! :bowing_man:

[2019-11-26 16:29] #24 closed

[2019-11-26 22:32] isfalcantara commented on #1
Ok, thanks for the update! :+1:

[2019-11-30 07:50] ali-sennalabs opened #26 "Implement error object serializer"
http://jsonapi.org/format/#error-objects
http://jsonapi.org/examples/#error-objects

I ended up crafting  my own serializer:

[code]
Then I override render method in a concern:

[code]

I don't have problem with even if this feature is not available as it's just easy to implement by anyone but maybe this could help if someone really looking into it.

Also it's good to mention that I added `type` a

[2019-11-30 10:43] stas commented on #26
@ali-sennalabs thank you, but this issue has been widely covered and discussed already. Please don't reopen here the issues which were [closed already].

[closed already]: https://github.com/Netflix/fast_jsonapi/issues/53

[2019-11-30 10:43] #26 closed

[2019-12-12 18:48] christophersansone opened #29 "Allow a relationship's serializer to be computed based on the object"
Thanks so much for picking up the ball with this project!  I was an early contributor.

When a relationship is defined, the serializer needs to determine which serializer to use.  It uses both the optional `serializer` and `polymorphic` options to help guide it.  It gets the job done in most cases, but there are definitely some hard rules that don't necessarily apply in all cases.

Consider the ca

[2019-12-12 19:19] christophersansone commented on #14
I'll throw in my opinion since I just created #29 which is somewhat related.

The `record_type` inference and `serializer` inference can both be misleading.  Personally, if I every need to specify one, I specify the other as well.  Here's the thing though: _if it knew which serializer to use, then it should just look up the record type on the serializer_.  To me, the value specified by `set_type`

[2019-12-12 20:47] christophersansone opened #30 "Polymorphic hash does not select the proper serializer for included records"
While reviewing the code and implementing #29, I noticed that there are no tests for specifying `polymorphic` as a hash, and I can't seem to find any code to support the implementation.

This is the code for determining the serializer for a specific record within a relationship (from [here](https://github.com/fast-jsonapi/fast_jsonapi/blob/1d7c18f5dac0177a0a4d8728d84b4fd63b2d91df/lib/fast_jsonapi/

[2019-12-13 05:28] christophersansone commented on #14
While working on #29, I discovered this in the specs.  This is the JSON output of [this test](https://github.com/fast-jsonapi/fast_jsonapi/blob/1d7c18f5dac0177a0a4d8728d84b4fd63b2d91df/spec/lib/object_serializer_class_methods_spec.rb#L462), shortened to highlight the problem:

[code]

Notice how the value for `type` is different in the `relationships` from in the `included`.  This JSON:API output

[2019-12-13 09:30] ThomasSevestre commented on #14
@christophersansone it looks goot to me !

[2019-12-13 16:46] benwalsh opened #31 "Dynamically assigning `set_type`"
Something similar to this was raised [in the previous incarnation](https://github.com/Netflix/fast_jsonapi/issues/126). In my case, I have two different associations of the same record type. I want to serialize them both using the same serializer.

For context, this is an app where one association is a (relatively) static one derived from the object's ActiveRecord associations, and the other is a

[2019-12-13 17:06] stas commented on #29
@christophersansone I appreciate the openness here to help!

Would you be kind to share some sort of a higher spec/API you're suggesting here please. I don't want us to write user stories, but having a list of use-cases and how exactly the API will look/change would be a great starting point.

My main concern here is that something like this, could lead to some breaking changes, so some prior disc

[2019-12-13 18:20] christophersansone commented on #31
@benwalsh I'm doing similar work with dynamically assigning a serializer (see #29).  I was actually thinking about this exact thing and wasn't sure if it was ever necessary.  Good to know at least one person needs it!

The good news is that I think your use case is supported today by simply defining different serializers, e.g.

[code]

Does this solve the problem for you?

[2019-12-13 18:44] christophersansone commented on #29
Thanks for the quick reply, @stas !  The PR will arrive shortly.

This is the general idea for the API and an example:

[code]

Some use cases:

1. The API has a much clearer intent than the `polymorphic` hash.  The polymorphic hash values are symbols, so it is unclear if those are supposed to be the record types or the serializer lookup.  The current implementation can lead to problems like #30,

[2019-12-14 04:09] christophersansone opened #33 "More, clearer, isolated tests describing how the relationship resolvers work"
While buiding #32, I took a deep dive into the relationships and how the different options relate to one another.  I discovered a handful of issues, mostly around the lack of clarity of how all the options relate to one another.

Here are some examples.  In these cases, can anyone tell me with certainty what should happen?  Which serializer is used?  What is the `type` outputted in the `relationsh

[2019-12-16 05:57] christophersansone commented on #21
@bradrobertson Thanks for reaching out!  I helped design the `params` feature early on.  The main reason we decided on keeping `params` isolated was to avoid naming conflicts.  If this library were to implement a new feature that is passed into `options` as a new key, and that key is being used in the wild as a custom parameter, it could break some production code.  With this design, you can pass

[2019-12-16 06:44] christophersansone opened #34 "Deprecate the `record_type` option on relationships"
This has been discussed in a few other issues this week.  It seems like it would help to have a place to specifically explore this.

Currently the `record_type` option on relationships is unclear what it does.  Does it change the `type` in the output?  Does it affect how the serializer is inferred?  Are you supposed to specify the `type` value?  Are you supposed to specify the class name?

Today,

[2019-12-16 14:19] benwalsh commented on #31
That works nicely, thanks -- of course it would be great not to have to have multiple files doing the same thing, but this does the trick.

[2019-12-16 14:19] #31 closed

[2019-12-17 18:12] christophersansone commented on #23
@mocerinoj What are you expecting `lazy_load_data` to do in this situation?  If removing `lazy_load_data` gives you the proper output, then doesn't that solve it for you?  Maybe you are expecting `lazy_load_data` to change how the relationship data is fetched from the object?  That is not what it does.

@stas is correct that `lazy_load_data` was implemented with the expectation that it worked in c

[2019-12-24 11:07] allomov commented on #29
Hello, @christophersansone. I am more interested in case, when Serializer can determine what serializer should be used for particular object. I think this may work both for STI and polymorphic dependencies.

Here is a code to demonstrate the idea:
[code]
What do you think about it?

[2019-12-24 16:25] christophersansone commented on #29
@allomov Thanks for your input!  So first of all, I think this can be accomplished today:

[code]

This is pretty much the use case of `polymorphic: true`, when you can infer the serializer name from the object class.

If the serializer name cannot be inferred, you can define `polymorphic` as a hash, similar to your `polymorphic_types`:

[code]

This issue and PR offers a more generic approach tha

[2019-12-30 08:48] allomov commented on #29
Thank you very much for your answer. Will try it out today.

[2019-12-30 15:36] christophersansone opened #38 "Tips and Tricks"
In spending time reviewing issues and PRs lately, I have seen several questions and concerns that can be solved easily in userland.  It's awesome that the library is flexible enough to support these needs, but it may not be obvious.  Some things that come to mind:

* How do I initiate the serialization from my controller?
* How can I reuse a commonly used block or Proc?
* Recommendations for hash-

[2020-01-04 15:56] stas opened #39 "Move Skylight Instrumentation"
We should extract and move the Skylight instrumentation into the Skylight gem.

Skylight gem already provides a set of probes, including support for AMS:
https://github.com/skylightio/skylight-ruby/blob/master/skylight-core/lib/skylight/core/probes/active_model_serializers.rb

[2020-01-04 15:56] stas commented on #39
Related https://github.com/skylightio/skylight-ruby/issues/120

[2020-01-05 11:20] kapilnarula commented on #21
**Point 1**

I believe performance is a critical need of most software applications. So, the design of a serializer library should be such that it promotes performance by DEFAULT.

Now consider a scenario,

[code]
A simple statement MovieSerializer.new(movie), would build cause a GENUINE hit on Movies table but an UNDESIRABLE (in most of the cases) hit on the Actors table

Ideally, MovieSerializer

[2020-01-05 16:54] stas commented on #21
@kapilnarula I think you're describing something unrelated to this issue. Would you mind opening an issue or even better providing a PR with an example you find to be slow?!

Please bear in mind, that while a lot of users serialize ActiveRecord models, a lot of other users serialize ORM agnostic or other ORM library records. Again, if you think you can help describe your problem in a less theoreti

[2020-01-05 17:02] stas commented on #38
@christophersansone I was looking into this recently and I think we're better off having a `docs` folder where we throw all the documentation. I can set up the `yardoc` to build the static documentation and even deploy it to a github pages repo. Would you be onboard with that?

[2020-01-05 17:03] christophersansone commented on #21
@kapilnarula The expectation of consumers of JSON:API is that the `relationships` are specified.  If it is an expensive operation, the server can choose to send a `link` with `lazy_load_data: true` rather than enumerating the items.

Also, the developer expectation is consistent in that everything that is specified in the serializer is output by default: attributes, links, meta, and relationships.

[2020-01-05 18:22] stas commented on #23
Hmm, I'm taking another look at this `lazy_load_data` and it seems an incredibly unhelpful name for what it does in fact haha

May I suggest we fix this and also include a more relevant name to reflect the documentation:
https://jsonapi.org/format/#document-resource-object-relationships

Like `resource_linkage: false`, this way we don't need to invent how to explain it?!

It seems like we should c

[2020-01-06 16:08] christophersansone opened #41 "Problems with the validation of the `include` option"
(Currently there is a bug that is fixed in both #13 and #32, but there is more to the story.  Creating this issue to discuss further.)

The [validate_includes!](https://github.com/fast-jsonapi/fast_jsonapi/blob/c305b699a970ba60e77ba5d7d1f962390bcdc363/lib/fast_jsonapi/object_serializer.rb#L308) method is designed to check the `include` option prior to serialization to see if there are any items th

[2020-01-07 13:49] stas opened #42 "Drop ActiveSupport dependency"
There are a couple of places where AS core extensions are used, most of these seem to be replaceable with standard API methods.

Having AS no longer a dependency, will make the gem footprint lighter and more friendly for non-rails users.

[2020-01-07 13:56] stas commented on #41
Related https://github.com/Netflix/fast_jsonapi/issues/401

It would be great to actually have a proper exception type to be able to handle the 400 requests when this exact issue occurs.

[2020-01-07 14:14] christophersansone commented on #41
I built a nice implementation of this yesterday.  I want to write a suite of tests specifically for `options[:include]` and update the documentation before submitting the PR.  Spoiler alert, the updated implementation also allows you to specify nested relationships as a hash, e.g. `include: [ :aaa, { bbb: :ccc } ]`. :wink:

[2020-01-08 18:38] christophersansone opened #45 "Convert `id_method_name` to `foreign_key`"
The option `id_method_name` is confusing, and it is currently referring to two different things:

1. When `polymorphic` is not specified, then `id_method_name` is the property name for the _foreign key_ lookup, e.g. `user.document_ids`.

2. When `polymorphic` is specified, then `id_method_name` is assumed to be the _primary key_ of the related object, e.g. `user.documents.map(&:id)`.

Let's consid

[2020-01-09 00:29] codyeatworld commented on #1
@kpheasey Has there been any update since 2019-11-19 on this?

[2020-01-09 11:35] stas commented on #45
@christophersansone I'm looking at the JSON:API spec, and I don't see how the proposed naming is a better alternative:
https://jsonapi.org/format/#document-resource-object-identification

I also don't think an `id` always represents a foreign-key.

I believe we can just document properly when and how the `id_method_name` is used if that's the main source of confusion.

[2020-01-09 15:24] christophersansone commented on #45
@stas Thanks for the quick feedback!  I didn't do a great job of explaining the actual problem, and I jumped right to the solution.  There are actually a few different issues worth discussing in detail.  Let me explain with some examples.

Before I begin, just a quick clarification to your comment:

Correct that it is not necessarily a foreign key constraint at the database level, but the idea is

[2020-01-09 16:13] christophersansone commented on #45
Here is the pseudocode of the logic as I see it:

[code]

It only uses `foreign_key` if it is a static serializer and the method exists on the record.  If the serializer is dynamic, then the record type may also be dynamic, and therefore we need to iterate over the objects to get the record type and therefore might as well get the ID as well.

This way, `foreign_key` just becomes a shortcut that c

[2020-01-09 17:46] stas commented on #45
@christophersansone I agree that the serializer `id_method_name` (be that a single record, or a relationship serializer) should be used exclusively to take care of the identifier value, though I still don't see how this is relevant to the `foreign_key` naming.

Finally, I'd like to remind us all that this library should be agnostic towards what are the objects it is used to serialize. So to me, `f

[2020-01-09 18:50] christophersansone commented on #45
@stas I don't think there is anything intrinsically different here that would cause a performance penalty.  Most times the method name will be memoized up front.

I am fine with keeping it `id_method_name` if you feel that strongly about it.  I am more concerned with the fact that it currently can mean two different things, based on the other options specified.  My thought to change the naming con

[2020-01-12 02:23] benlieb opened #46 "set_key_transform at runtime?"
In my app sometimes I want camel case (for JS data) and sometimes I want underscore data.

Is it possible to have one serializer class that can be configured at runtime to have different key transforms?

[2020-01-12 02:26] benlieb opened #47 "`fields` is inclusive, is there an "exclusive" alternative, like `except_fields`?"
It's more common for me to want most attributes EXCEPT a few. Is there a way to do this that is exclusive? For example:
[code]

[2020-01-13 11:06] stas commented on #47
@benlieb nope, there's no support for _except_ in the spec, though you can do it easily on your own if you need it.

[code]

I'm closing this for now.

[2020-01-13 11:06] #47 closed

[2020-01-13 11:08] stas commented on #46
@benlieb nope, the fastest way would be to define a second serializer which inherits from the first one but uses a different strategy for `set_key_transform`.

I'm closing this for now.

[2020-01-13 11:08] #46 closed

[2020-01-13 19:19] benlieb commented on #47
@stas I guess this is easy enough on the main object, but for nested objects it gets a bit hairy. Too bad.

[2020-01-13 19:29] stas commented on #47
@benlieb to be honest, I never felt the need of this. You could try asking the JSON:API spec team, though to me it seems just _sugar_ :honey_pot:

Anyway, thank you for the feedback! :hugs:

[2020-01-20 12:26] stas opened #51 "Simplify caching support"
## Expected Behavior

Basically, the way caching support was designed is not very flexible and very Rails-specific.

Particularly we should add:
 * [ ] support for versioning
 * [ ] support for namespacing
 * [ ] less rails-specific API calls
 * [ ] unified/merged caching options

## Actual Behavior

We implemented only a small subset of the required caching functionality and it's all very Rails-s

[2020-01-20 12:27] stas commented on #51
A first step would be to get rid of the custom settings and allow our DSL to accept a bunch of options we can send over directly to the caching method call.

In rails these are available, we should leverage them:
https://github.com/rails/rails/blob/80e72c5eb7d4f79cc8eaa63237e5a60dff48f4f4/activesupport/lib/active_support/cache.rb#L22-L24

[2020-01-20 13:18] doits commented on #51
Makes sense to allow to configure all available caching options and pass them directly.

Doesn't it conflict with "less rails-specific API calls" then, though? At least if options are passed as is to the cache implementation. Or should there be a wrapper that translates fastjson-cache-options to actuall caching implementation options?

[2020-01-20 13:23] stas commented on #51
If we assume that the users will provide their own cache store (or default it to the `Rails.cache`), there should be no conflicts. In the end it's everyone's own configuration, so if it's not working, it's in the _userland_ not because of the library.

I'll quote the example I left in #50:
[code]

[2020-01-20 13:40] doits commented on #51
OK, and in this case the options can be simply passed directly but the ones that change how the methods are called.

[code]

[2020-01-20 13:49] stas commented on #51
@doits namespace is supported on `fetch` or `write`, it can stay separate from the cache store intialization.

Example:
[code]

Unfortunately the Rails documentation doesn't reflect all the API functionality.

[2020-01-20 13:56] stas commented on #51
May I ask you exactly, how do you expect this versioning to work?

I'm asking because the AS caching already does some versioning support:
https://github.com/rails/rails/blob/80e72c5eb7d4f79cc8eaa63237e5a60dff48f4f4/activerecord/lib/active_record/integration.rb#L115

Example:
[code]

[2020-01-20 14:32] doits commented on #51
@stas exactly, it is about *supporting* the new cache versioning behavior! It is *not* about implementing a different one.

Because `.cache_key` does *not* change if record is updated. But current caching implementation in fast jsonpi uses this as the only key to fetch the cache and it will fetch outdated records by this.

So for example in current fast jsonapi cache implementation it will do this

[2020-01-20 15:08] stas commented on #51
I see... it's just another Rails-esque trick.

Basically, if we send the object/model to the cache store, it will automatically figure out what to call, either `cache_key` or `cache_key_with_version`. So I assume we should make sure the whole record is passed and not explicitly the `cache_key`.

Example:
[code]

[2020-01-20 15:14] doits commented on #51
Yes, this is a solution, too. This means that *not* fast jsonapi decides about the correct key to use but the cache store can decide how to derive the correct cache key (or version) from the record.

[2020-01-20 15:19] stas commented on #51
I'm ok with that. I'll be happy to review any PRs related to that if you decide to help with it!

[2020-01-21 21:36] doits commented on #51
@stas I gave it a shot in #52. Feel free to comment.

[2020-01-23 00:07] johnnybenson opened #53 "set_id does not seem to be called for relationships"
## Expected Behavior

I expected relationships serialized with `set_id` defined, to use the return value of `set_id` in the serialized data.

#### Serializers
[code]

#### Expected JSON
[code]

#### Actual JSON
[code]

## Specifications

[code]
  - Ruby version: ruby 2.5.5p157 (2019-03-15 revision 67260) [x86_64-darwin18]

Maybe possibly related to the open pr: https://github.com/fast-jsonapi/fast

[2020-01-24 13:58] JeffLuckett commented on #41
A familiar syntax, just like ActiveRecord.  I like it.

[2020-01-29 18:20] johnnybenson commented on #53
Additional issues with the  `:id_method_name` option:

[code]

### Actual JSON
[code]

### Expected JSON
[code]

In addition to ignoring `set_id`, the serializer also calls `:id_method_name` on the parent record for associations.

[2020-01-29 18:24] johnnybenson commented on #53
Workaround:

[code]

Returning the association from a block results in `:id_method_name` being called on the association and not the parent record.

I am happy to open a pull request but it's not clear, looking at the code, of the intended behavior. The inconsistency here can't be right.

See `fetch_id`: https://github.com/fast-jsonapi/fast_jsonapi/blob/master/lib/fast_jsonapi/relationship.rb#L97

[2020-01-30 09:28] BFranse opened #55 "Type in included relationship is singular"
Fair warning: I'm new to JSON, API and JSON:API formatting but I ran into an issue which I described in detail on [Stackoverflow](https://stackoverflow.com/questions/59962160/parsehasmany-model-type-for-relationship-x-not-found-how-do-i-map-nested-j). I _think_ I have found what the issue is, but I am not 100% sure it is an issue with this project, or an issue with my code.

According to the docum

[2020-01-30 15:03] stas commented on #55
@BFranse the short answer is that the spec is agnostic regarding the `type` value as long as it's consistent and servers correctly the purpose of [identification of the resource](https://jsonapi.org/format/#document-resource-object-identification).

So it's up to you if you want to have singular or plural. What exactly are you trying to achieve in fact?

[2020-01-30 15:21] stas commented on #53
@johnnybenson I think this is indeed related to the issues described #45 and I think before fixing this, we should decide if we want to keep the `id_method_name` aside from `set_id` for the relationships. My only concern would be that the _static_ definition of the `id` per relationship, was due to performance issues, but we can review this easily along the way.

@johnnybenson if you think you hav

[2020-01-31 08:30] BFranse commented on #55
@stas Thank you for clearing that up. What I am trying to achieve is to map my json response to models in Angular. I was running into an issue where the module I am using on my front end gives me an error about not being able to find model type. (That's the TL:DR, there's a more in-depth explanation on the [Stackoverflow](https://stackoverflow.com/questions/59962160/parsehasmany-model-type-for-rel

[2020-01-31 10:55] stas commented on #55
@BFranse `set_type` should be the way to do it. Is there a particular issue we could reproduce, maybe you can share some examples/code?

[2020-01-31 15:06] BFranse commented on #55
I am probably doing something wrong then. In my (simplified) example I have two models. Roles and accountabilities. One role can has many accountabilities, and one accountability belongs to a role.

This is my current code:

**role.rb** (Simplified, without validations, etc.)
[code]

**accountability.rb** (Simplified, without validations, etc.)
[code]

**role_serializer.rb**
[code]

**accountabili

[2020-02-07 12:16] stas commented on #55
@BFranse could you add please the `record_type: :accountabilities` to the `has_many` in your serializers too.

There are some examples here:
https://github.com/fast-jsonapi/fast_jsonapi#customizable-options

We are aware of this issue and it's been described in #32

[2020-02-10 14:12] BFranse commented on #55
@stas Thank you so much! Adding `record_type: :accountabilities` did the trick and changed the response. I must have missed that while going over the readme.
Thank you once again for your help and patience.

[2020-02-10 14:12] #55 closed

[2020-02-10 14:44] JeffLuckett opened #56 "You're forked. Now what?"
Just a question about the "go forward" plan.

The parent maintainers appear to have gone totally dark on their repo, are any of the maintainers here in contact with them?

Assuming that any back channel communications are as dead as the repo appears to be, is there any plan to become "official" and start publishing a perhaps differently named gem on RubyGems?

It makes it a harder sell to include

[2020-02-10 14:50] stas commented on #56
@JeffLuckett thanks for reaching out!

We are trying, not very successfully though. Honestly there's indeed quite a bit of uncertainty about how to proceed next. We're trying to _play nice_ with everyone, but lately I feel like we should rename the fork and push forward independently.

An alternative way is to use the Github's gem repository and keep the releases outside of RubyGems for a bit... L

[2020-02-10 14:50] #56 closed

[2020-02-13 02:41] oyeanuj opened #57 "Comparison with similar libraries"
Hey folks, y'all are doing a great job managing this fork, and making things happen, congrats!

I have a request similar to #38 - I'm curious if in the ReadMe or in the docs, there can be a section which provides a comparison to other similar libraries like ([jsonapi-rails](https://github.com/jsonapi-rb/jsonapi-rails), [Panko](https://github.com/yosiat/panko_serializer), [jsonapi-serializers](http

[2020-02-13 14:00] stas commented on #57
@oyeanuj there's a benchmark to compare across with alternatives:
https://github.com/fast-jsonapi/fast_jsonapi/blob/master/spec/lib/object_serializer_performance_spec.rb#L17-L34

Panko and Blueprinter are not covering the JSON:API spec. Does this answer the question?

[2020-02-13 15:40] oyeanuj commented on #57
@stas thanks for the quick response! That’s helpful although I was originally looking for feature/behavior comparison. Thoughts on that?

[2020-02-13 16:22] stas commented on #57
@oyeanuj what do you mean by feature comparison? The libraries from above represent the implementation of the https://jsonapi.org spec. This is not a generic serialization library.

[2020-02-13 16:42] christophersansone commented on #53
@johnnybenson and @stas Agreed, this is a duplicate #45.  Let's get #32 merged so that the serializer lookups are occurring for `type`, and then we can apply the same logic to lookup `id`.  As for performance, the ID field name would be memoized up front when the serializer is static (most of the time) which would have zero performance impact after the first serialization, and it would have one le

[2020-02-13 20:08] oyeanuj commented on #57
@stas I do understand that but I meant the difference outside of implementing the spec. Given 3 libraries implementing the spec, help users understand the tradeoffs and make an informed choice. For eg, I can imagine talking about how this library offers conditional relationships, deals with collections or params, etc and may be more fully featured for someone coming from AMS .

[2020-02-14 06:12] oyeanuj opened #61 "Specifying attributes of nested/included objects"
Hi folks! I'm migrating from AMS 0.9x to this excellent library (thank you for maintaining this fork!). I have a lot of cases like the following:
[code]

Since those keywords don't work, I'm wondering what is the best way to achieve a similar outcome with this library?

[2020-02-14 11:26] stas commented on #57
@oyeanuj I'm not going to stop you from doing that sort of comparison, but generally speaking, I find it very subjective and out of scope of this project :)

A more complete list of JSON:API related libraries is also available at:
https://jsonapi.org/implementations/#server-libraries-ruby

I will close this issue, but feel free to send a PR with a third-party repository/website when you have somet

[2020-02-14 11:26] #57 closed

[2020-02-14 11:47] stas commented on #61
@oyeanuj could you help us find the documentation for this exact functionality you're looking to replicate please?

I'm not familiar with AMS options. It seems like these are suggesting a very close integration with the ActiveRecord API, in which case there's no such alternative in `fast_jsonapi`.

Instead, you can leverage the [sparse fieldsets](https://github.com/fast-jsonapi/fast_jsonapi#sparse

[2020-02-14 12:15] attilahorvath opened #62 "Deep transform keys for complex attributes"
## Expected Behavior

Sometimes I'd like to use more complex attributes with arrays and structures, arbitrarily nested within each other. The JSON:API spec explicitly allows this:

https://jsonapi.org/format/#document-resource-object-attributes

However, the keys of nested objects are not being translated right now.

## Actual Behavior

The nested attribute keys don't get translated into the speci

[2020-02-14 14:55] stas commented on #62
@attilahorvath thanks a lot for your PR and for bringing this up for discussion.

I think you do have a point, but I don't think it's a bug. Simply put, a more common use-case, where the attribute value is a Hash representing a JSON(b) document, suggests that the format of the value should not be altered.

I believe indeed can help here and provide a helper method to transform a nested document ac

[2020-02-14 15:28] christophersansone commented on #62
FWIW, ActiveModel Serializers does indeed convert nested attributes, and the difference in behavior was one of the "gotchas" I faced when converting a large app from AMS to FJ.

I think it stands to reason that if you want your API to expose property names in a format other than Ruby's, you would want to do it throughout the entire JSON document, which includes nested data.  It doesn't really make

[2020-02-15 14:57] #29 closed

[2020-02-15 14:57] #30 closed

[2020-02-16 04:38] oyeanuj commented on #61
Absolutely, [here](https://github.com/rails-api/active_model_serializers/tree/0-9-stable#embedding-polymorphic-associations) and [here](https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/serializers.md#polymorphic-relationships) is the polymorphic fields in the documentation. The `only`, `include`, and `except` options don't seem to be well-documented except in cha

[2020-02-18 09:24] cilim commented on #23
fast_jsonapi includes the ID's of the relationships automatically, even though the client didn't ask it to...in my situation this really isn't what I want. What I would like to be able is to get a response like this when the client doesn't send the `include` query` params:

[code]

or like this when he sends `?include=owner`:

[code]
I thought that this is done with setting `lazy_load_data` to tru

[2020-02-18 13:45] christophersansone commented on #23
@cilim I'd recommend checking out the discussion in  #21, as it may be more closely related.

@stas I like the idea of using the terminology in the spec... but I think this one might be kind of confusing, as `links` and `resource_linkage` seem too similar.  I think someone would have to read the spec to know what `resource_linkage` means.  People will better understand it if it were more closely n

[2020-02-18 19:48] waymondo opened #64 "embedded relationship data does not honor relationship's `object_method_name`"
## Expected Behavior vs Actual Behavior

When using `has_many`, I would expect both the included, related objects and the source object's relationship data to use the same specified `object_method_name`, however only the "included" objects seem to use the method. Using the block definition for `has_many` works as I would expect.

## Steps to Reproduce the Problem

[code]

## Specifications

  - Ve

[2020-02-18 20:02] stas commented on #64
@waymondo may I ask you what ActiveRecord/Rails version are you using? I remember Rails 4 would have issues with the scoped relationships. But at least it will be easier to replicate. Thanks!

[2020-02-18 20:20] waymondo commented on #64
We are on rails 5.1.7

[2020-02-19 18:00] thejcannon opened #66 "Allow condition meta"
## Expected Behavior
The following to work
[code]
(similar to conditional links)

## Actual Behavior
`ArgumentError (wrong number of arguments (given 1, expected 0)):`

[2020-02-19 18:38] thejcannon commented on #66
Looking at the code, this isn't as easy as it was for links. Links use the `Scalar` class, which among other things, doesn't add to the hash given to `serialize` if the condition is present and fails.
For `meta`, the existence of the attribute means you'll end up with the key-value pair in the outer hash. You could do something similar to `Scalar`, but passing in the outer hash seems extreme. You

[2020-02-19 18:42] stas commented on #66
@thejcannon adding support for the conditional would render a response without the key `meta` present if the condition is not met and defined. Is this what you are looking for?

Another important note here, is that we're talking about meta per resource and not per collection. Just to confirm the expectations.

[2020-02-19 18:58] thejcannon commented on #66
@stas , yeah that's what I had in mind. FWIW the "condition" I'm using is if the instance is a collection, so I can avoid the `meta` key-value per-resource (as it might be expensive).

Right now, I'm just leaving the `meta` as `nil` and ignoring it.

[2020-02-19 19:08] stas commented on #66
@thejcannon why not just use the meta option to solve your problem? Here's an example:
https://github.com/fast-jsonapi/fast_jsonapi#compound-document

You can use `jsonapi.rb` to get a nicer API to handle this, or pass it directly as part of your `render` call in `show/update/create`:
https://github.com/stas/jsonapi.rb#collection-meta

[2020-02-19 19:25] thejcannon commented on #66
Personally, I like keeping the serialization logic in the serializer, and don't want it bleeding into the controller if I can help it. Allows me to look at the serializer and know what the output would look like without having to cross-check the controller.

[2020-02-19 19:29] stas commented on #66
@thejcannon I think we're talking about two different things, please review the way serializer `MySerializer.new(meta: <stuff>)` work, you'd have to pass the meta either way before initializing the serializer class.

[2020-02-19 19:50] thejcannon commented on #66
@stas Perhaps the confusion is that I'm using one serializer for both the collection and the instance.

When I'm using it for the instance I want a subset of the overall information, and I do that by adding conditions to the attributes and links that check if we're rendering a collection.
When I'm using it for the instance I want all the information.

I _could_ use the `meta` option when I'm rende

[2020-02-19 19:54] stas commented on #66
That's ok.

Did you consider using the [sparse fieldsets](https://github.com/fast-jsonapi/fast_jsonapi#sparse-fieldsets)?

I'm not sure why you assume that. You can define a static method on the serializer class and call it from the controller. You still need to call the serializer from the controller, so I'm not sure why you see things so radical :)

[2020-02-19 20:39] thejcannon commented on #66
I did at first, but couldn't get the secret sauce that would allow me to filter links as well.

I guess my view is that the conditional-ality of a field/link/meta should be consistent. If my fields/links are being filtered via an option in the serializer when I'm declaring them, I'd like meta to be as well. Conversely, if I'm using sparse fieldsets and conditionally passing meta as an option, I'd

[2020-02-19 21:01] stas commented on #66
@thejcannon definitely not trying to argue, so apologies for that. It just looks like you're doing something very custom instead of leveraging the JSONAPI spec (at least based on the alternative aproach against sparse fieldsets).

Back to being on-topic, any contribution is welcome :construction_worker_man:

[2020-02-19 21:10] thejcannon commented on #66
@stas Well this is my very first `Ruby` project. So any discussion is beneficial 😄

If I find time, I'll definitely try my hand at a solution. At the present, I don't see an obvious, elegant solution.

[2020-02-20 12:26] stas commented on #61
@oyeanuj looks a bit obscure. I still find it a very ORM specific functionality and I don't think that's the scope of this project. If you want to add some optimizations, you can use sparse fields to prepare the query before you pass it over to the serializer though.

I'll be closing this for now.

[2020-02-20 12:27] #61 closed

[2020-02-21 17:58] attilahorvath commented on #62
Okay, I'll try to submit a PR using this proposed syntax then and we can discuss this feature further once that's ready.

I think there could be a global config variable for this as well to avoid having to specify this flag each time. Something like:

[code]

That would also make it easier to make this the default behavior in the future eventually in a possible next major version, we'd just have t

[2020-02-21 18:03] christophersansone commented on #62
@attilahorvath Thanks!  Agreed that some sort of global configuration for features like key transformation would be helpful.  I personally always have a base serializer class with all of my configurations specified, and then I simply inherit from that class for all of my serializers.

[2020-02-21 18:20] kpheasey commented on #1
@codyeatworld Sorry for the late reply.  We did hear back and they asked for out plans with the project.  Since we relayed our intentions, we haven't heard back :(

[2020-02-21 18:23] kpheasey commented on #1
@stas @jopotts I noticed the CHANGELOG has not beed updated with the PR's being merged and closed.  However, it looks like we have had a few changes and may be ready for a release.  If you feel the same, I'll update the CHANGELOG and update the version.

Also, we should ping Netflix again.... Or create a new rubygems listing.  If they are going to take weeks/months to get back to us.  Then we just

[2020-02-21 19:29] stas commented on #62
@attilahorvath @christophersansone I still don't think this is the right direction and the presented arguments are not convincing. We can provide an API method that will help developers deeply transform their serializable objects into the same type, but that should be their decision and their implementation.

Long story short, I don't want this library to be responsible for messing up with non-JSO

[2020-02-21 19:40] stas commented on #1
@kpheasey apologies for that, I will look into the latest changes and update it :see_no_evil:

I don't think we will hear again from Netflix. I also don't find it a good idea to maintain this uncertainty. We can either use github gems hosting and maintain the same name, or rename it to something like `fast_jsonapi.rb` and publish it without any code-related name changes. If the folks from Netflix

[2020-02-21 20:51] kpheasey commented on #62
I'm going to second @stas. The nested objects are not bound by the json api specification.  The specification only says that they can exist.  Therefore, this gem can not apply transformations to those objects.

I personally have some 'dirty' objects in some of my api's that use a different naming scheme for keys.  Specifically, it creates configuration objects for highchart.js.

[2020-02-21 21:10] christophersansone commented on #62
@stas @kpheasey I'm having a bit of trouble with the reasoning that we cannot apply transformations to nested data because it is "not bound by the JSON:API spec".  The spec makes no mention of how top-level attribute and relationship names are specified either, and yet this library offers it.  I just don't see why the line in the sand is that it should only transform one level deep.

If an API des

[2020-02-21 21:26] kpheasey commented on #62
If you want the serializer to transform the keys, there are currently two ways:
1. Create a serializer to represent the complex object. (see complex attribute below).
2. Apply the transformation yourself with an attribute block. (see complex_alt attribute below).

[code]

Unless every api object is made up of multiple complex objects as attributes, this isn't much overhead.  I only see overhead wh

[2020-02-24 11:20] stas commented on #62
I see no reason we should provide this as a feature. It looks very straightforward based on @kpheasey examples. Let's focus on the stuff that we really need to take care of.

Thanks to all for sharing their feedback and ideas. @attilahorvath feel free to add an article in the `docs`, I'll be happy to merge it.

[2020-02-24 11:20] #62 closed

[2020-02-24 11:57] attilahorvath commented on #62
@stas I was just in the middle of composing a response when you closed it, hope you don't mind me sharing one last example to explain why I'd really like this feature. :sweat_smile:

I have financial transactions stored in the DB for each user with different currencies and I want to show a sum per currency. I'm doing something like this:

[code]

Now, if we had this feature, the serializer could b

[2020-02-24 16:24] stas commented on #62
@attilahorvath I'm not sure I follow, aside from the two examples that Kevin shared, the [attributes API allows a proc being passed](https://github.com/fast-jsonapi/fast_jsonapi#attributes) which can basically be the serializer method:
[code]

So if it's a matter of _sugar_, this can't get more cleaner and explicit.

The recommendations page is up to everyone's interpretation. It's not an oversigh

[2020-02-24 17:30] christophersansone commented on #62
Woo hoo, I think we are all in agreement on this part! 💯:smile:  When someone has specified a key transform, the expectation of nested output is very unclear.  @attilahorvath and I would expect it to transform nested keys as well, and @stas and @kpheasey would not.

At least some other libraries (I know AMS in particular) fall on the other side of the debate and will transform nested keys, so I ha

[2020-02-24 18:56] kpheasey commented on #62
@christophersansone If you would like to extend the functionality via a module that can be placed in the equivalent of `/config/initializers`, we can add that to a wiki page and link from the docs.

Here's an example of one for pluralizing association names -> https://gist.github.com/kpheasey/8ad17668ae9194bfd276a5e8f70eff03

[2020-02-25 16:49] stas commented on #51
Closed in #52

[2020-02-25 16:49] #51 closed

[2020-02-25 17:06] stas commented on #23
I think that will work. As long as things are clear...

Sounds like it would interfere with the support covered by the `if: -> {}`, which in fact appeals to me more, and could be a way to deprecate this option and let the users leverage the more versatile `if: ` API. Though it will indeed require a bit more legwork...

So everyone will probably not like it :sweat_smile:

[2020-02-28 17:34] doits commented on #66
Just a quick try: Maybe you can accomplish a conditional meta already like this already?

[code]

[2020-02-29 18:46] stas opened #69 "Remove benchmarks"
## Expected Behavior

I removed the benchmarks as part of the #40 to cleanup the tests runtime.
We should remove them completely since it's not really relevant to keep them as part of the repository.

## Actual Behavior

Ideally we'd improve an independently maintained set of benchmarks and comparisons.
I started the project here:
https://github.com/fast-jsonapi/comparisons

[2020-02-29 18:47] stas commented on #33
Added #69 as part of this effort.

[2020-02-29 18:48] stas commented on #69
Example of the comparison (just for `fast_jsonapi`):
[code]

[2020-03-01 15:18] thejcannon commented on #66
@doits That's essentially what I'm doing today. The result isn't quite the same though.
Conditional meta would mean the output would either be `{..., "meta": ...}` or `{...}` (no meta at all).
Whereas `return if` means `{..., "meta": ...}` or `{..., "meta": null}` (always has the key)

[2020-03-01 18:35] stas commented on #57
@oyeanuj as part of #69 there's now https://github.com/fast-jsonapi/comparisons

Feel free to send PRs there if you want to highlight some of the aspects...

[2020-03-01 18:58] doits commented on #66
Ah OK, this looks a little bit messy and is not spec conform I assume? At least it skips the computation, but is no real solution then.

---

I have a proposal in #54 which makes `meta` work like `attribute`, which solves that problem and gives you much much more control about generating the meta hash. So it is much more than only adding the conditional.

Currently it does not look like this will

[2020-03-01 19:13] stas commented on #66
@doits it's not fair what you're doing here! I understand that you're not happy about your proposal not being merged, but there's no need to share your unhappiness in every related conversation. :disappointed:

I already suggested you to prepare a PR to solve this exact request and we'll get that part merged. There's no need to _advertise_ features nobody requested. Please be nice, we're all in th

[2020-03-01 22:26] doits commented on #66
@stas please explain what is not fair in pointing to a MR that solves this issue and explaining how it solves this issue, even if it does more than that.

If it is only the sentence you quoted that bothers you, I'm not exactly sure how I could have summarized the current state of #54 differently to give some context for @thejcannon - or do I see the current state of #54 wrong? Then please correct

[2020-03-02 11:28] stas commented on #66
@doits it bothers me that a refusal to merge something brings the contributor to the idea that hijacking other conversations with one's frustration is ok. It's not ok, and yes, I think it's healthier for the sake of this project community to not receive contributions from such folks.

Thanks again for all your contributions though.

[2020-03-02 12:36] thejcannon commented on #66
I went and looked at the spec: https://jsonapi.org/format/#document-meta

And I think what I want _isn't_ noncoforming. It says:

The "where specified" tells me I'm allowed to omit it. That's good news.
But I also saw

Which means explicitly or implicitly returning `nil` (`null`) won't cut it. So for now I'll just return an empty object.

[2020-03-02 12:48] kpheasey opened #71 "Serializer Specific Caching"
## Expected Behavior

Passing one record to multiple serializers should result in 2 separate cached responses.
ProjectSerializer
ProjectListingSerializer

## Actual Behavior

Cache only returns the first serialized instance of the record, regardless of what serializer is being called.

ProjectSerializer is called first
ProjectListingSerializer returns ProjectSerializer response
## Steps to Reprodu

[2020-03-04 13:52] attilahorvath opened #72 "`unless` support for conditionals"
Currently the gem supports conditional attributes and relationships by passing an `if` option. I think it would make sense to make it symmetric by also providing an `unless` option, which would do the opposite.

This would be in line with how many other gems handle conditionals, including AMS and Rails in many places (callbacks, validations, etc.) and well, even the Ruby language itself with the `

[2020-03-05 01:33] sirdharma opened #73 "Do not return empty "relationships" object"
Hi 👋

## Expected Behavior

The "relationships" object shouldn't be present.

## Actual Behavior

The "relationships" object is present and is empty: `"relationships": {}`

## Steps to Reproduce the Problem

  1. Create a serializer with only one conditional relationship. Any object that fails the condition on the relationship will be serialized with `"relationships": {}`.

JSON:API [requires](htt

[2020-03-05 11:52] stas commented on #73
Thanks @sirdharma

The spec states clearly that the _relationship object_ should be present and include at least on of `links`, `data` and `meta`. Where `data` can actually be `null`:
https://jsonapi.org/format/#document-resource-object-linkage

I'll be closing this, but let me know if you have other questions.

[2020-03-05 11:52] #73 closed

[2020-03-06 13:20] stas commented on #73
:bowing_man:

It might be that we're not including always the `"relationship": { "data": null }` on empty relationships though. If that's an issue for you, we can open a separate issue and try to prioritize it.

[2020-03-06 21:50] sirdharma commented on #73
All good for now thanks! I'll open a PR if need be.

👍

[2020-03-08 13:29] stas commented on #71
@kpheasey I'm looking at this and I'm not sure this is a bug.

Starting with the #51 the cache options support the [`namespace` and `version`](https://github.com/fast-jsonapi/fast_jsonapi#caching). These both can be configured to use the serializer name. Consider:
[code]

Could you confirm this is solving your issue?

[2020-04-17 09:03] maxrosecollins opened #76 "has_many uuid instead of id"
How can I specify to use the uuid instead of the id on a relationship?
In the `ResultSerializer` I have
[code]
Below is the expected result

[code]

[code]

But my result is
[code]

If I call the serializer directly, then I can see the following

[code]

[2020-04-17 09:52] maxrosecollins commented on #76
I see this could be a duplicate of [53](https://github.com/fast-jsonapi/fast_jsonapi/issues/53)

I tried the workaround
[code]
 "relationships": {
                "results": {
                    "data": []
                }
            }
[code]

[2020-04-28 09:14] andrewsyd opened #78 "The record itself is added to included when 2 serializers use identical association names"
Given the models, serializers and controller in the following gist: [https://gist.github.com/andrewsyd/6eab2cdbb573d3a336a54529c3a8a92f](https://gist.github.com/andrewsyd/6eab2cdbb573d3a336a54529c3a8a92f)
## Expected Behavior
When passing a record to a serializer in a controller, only the associations specified by `options[:include]` should be added to `included`:

[code]

## Actual Behavior
The r

[2020-04-28 13:01] stas commented on #78
@andrewsyd could you please set up a gist or a repo to reproduce the error, things are not clear from your example.

Particulalry, your serializer:
[code]

Does not have the `item` relationship, so I don't know what exactly you're trying to include.
[code]

[2020-04-28 13:05] stas commented on #76
@maxrosecollins this indeed is a duplicate of #53

I'll close it to keep track of it in the other issue. Sorry for the late reply :bow:

[2020-04-28 13:05] #76 closed

[2020-04-28 13:20] maxrosecollins commented on #76
@stas No problem. I'll keep an eye on it.

[2020-04-29 04:31] andrewsyd commented on #78
So sorry! Was trying to keep it simple but in the process stupidly left a few things out.

`current_version` is not the only way these models are associated. I've updated my earlier post to reflect this and have moved the code into a gist:

https://gist.github.com/andrewsyd/6eab2cdbb573d3a336a54529c3a8a92f

[2020-04-29 11:16] stas commented on #78
@andrewsyd could you please include the full payload. The `included` doesn't work like that, based on the relationship name, it looks at the `type`, so I need the full picture to understand what is going on. Alternatively you can provide a test-case.

[2020-04-29 11:43] andrewsyd commented on #78
Sorry had a couple of syntax errors. Hope that makes more sense to you now.

[2020-04-29 11:51] stas commented on #78
@andrewsyd I'm not sure what changed, please use the gist you created and attach the full response/payload. Feel free to remove attributes (use `fields` for that).

[2020-04-29 11:54] andrewsyd commented on #78
Payload is in the post above. Will put it in the gist.

[2020-04-29 12:14] stas commented on #78
@andrewsyd I reviewed the payload and double checked the specs and I don't think this is a bug...

The [spec says](https://jsonapi.org/format/#document-compound-documents):

All of these requirements are met... What you are describing is a custom behavior you/your app requires which is not something we should enforce generally.

Please let me know if that makes sense...

[2020-04-29 14:21] stas commented on #1
Closing as of ab9db291d4d89ed93029f0844461498364d3be3b

Thanks everyone! :bow:

[2020-04-29 14:21] #1 closed

[2020-04-29 14:35] #69 closed

[2020-04-29 14:36] stas commented on #69
Fixed in #70

[2020-04-29 14:36] #38 closed

[2020-04-29 14:36] stas commented on #33
Closed as of #74

[2020-04-29 14:36] #33 closed

[2020-04-29 14:38] stas commented on #71
This should be fixed as of #51

[2020-04-29 14:38] #71 closed

[2020-04-30 01:32] andrewsyd commented on #78
It is including the primary data object in `included`. Should that not be skipped?

It's more a case of efficiency than anything actually breaking.

[2020-04-30 18:47] stas commented on #78
It's including what you requested, and if the sideload-ed collection includes the primary records, it will get through.

[2020-05-01 13:48] jeantristan opened #81 "Public gem hosting solution"
## Expected Behavior

I would like to install the gem using `bundle install`

## Actual Behavior

I added in my Gemfile the following line: `gem 'fast_jsonapi', source: 'https://rubygems.pkg.github.com/fast-jsonapi'`

When trying to do `bundle install`on my local machine, I have the following problem:
[code]
I have the same output on a heroku instance.
It only happen with this gem.

On top of that

[2020-05-01 13:58] stas commented on #81
Oh Github :facepalm:, this is silly, but apparently Github requires authenticated requests to the Package Registry...

@jeantristan thanks for reporting this, I'll look into a solution. Apologies...

[2020-05-01 14:01] jeantristan commented on #81
No worries! Thanks for the fork.
I was looking for a better handling of the cache than the orignal package.
Good luck dealing with the problem!

Do you know if it's possible for me to do a local install or do I have to switch back to the netflix version?

[2020-05-01 14:06] stas commented on #81
@jeantristan you can switch back to the git-based deployments (ab9db291d4d89ed93029f0844461498364d3be3b)

Basically use this
[code]

[2020-05-01 14:16] jeantristan commented on #81
thanks!

[2020-05-01 14:42] stas commented on #78
@andrewsyd I'll be closing this. Again, if you think this is not the right way to handle things, we can continue the conversation by asking on https://github.com/json-api/json-api about the spec.

[2020-05-01 15:31] stas commented on #81
I reverted to the old instructions for now: ac34aa22f7882f54cb7cab352489930c012e1e1b

We will look into alternatives...

[2020-05-04 01:28] andrewsyd commented on #78
But that's the thing. I am not requesting the primary data be included.

`:'item.category.current_version'` in this case is requesting an Item, a Category and a CategoryVersion be included.
At no point in the `include` option are we requesting an ItemVersion be included, yet one does get placed in `included`.

My workaround demonstrates that by renaming one of the associations, this no longer occu

[2020-05-06 15:26] kln opened #83 "Relationships with params"
I had a serializer with conditional attributes

[code]

But can't use this serializer as a relationship

## Expected Behavior

[code]

## Actual Behavior
`params`or `options` are ignored

Can I do it somehow?

[2020-05-06 15:30] stas commented on #83
@kln please review the API for conditional attributes/relationships:
https://github.com/fast-jsonapi/fast_jsonapi#conditional-attributes

Let me know why that doesn't work for you...

Thanks

[2020-05-06 16:39] kln commented on #83
Thanks, @stas

I don't understand why, are two serializers like

[code]

If I call `UserSerializer` with `params` it works, but on the relationship isn't.

I would like to know if I can do it

[2020-05-06 19:05] kln commented on #83
I added the parameter at first serializer `AnotherSerializer` and used it into UserSerializer

[2020-05-06 19:05] #83 closed

[2020-05-07 09:01] stas commented on #83
@kln is this still an issue for you?

[2020-05-11 17:39] stas commented on #78
@andrewsyd I'll reopen this and let's try to reproduce this with a test... Thanks!

[2020-05-13 21:06] ToadJamb commented on #81
Assuming it is not possible to get control of `fast_jsonapi` from rubygems, could this just be pushed to rubygems under a new package name? Given that the existing solution is to pull from github anyway, this should have minimal (if any) impact on existing projects.

We currently have `fast_jsonapi` required in a gemspec which means we are using an unsupported version because if it comes from anyt

[2020-05-14 09:50] stas commented on #81
@ToadJamb I'm not a big fan of a new name since there are other gems depending on it.

I'm open to renaming it, but this suggests we should completely change the name and move away from Neftlix name to avoid confusion. My idea was just to provide a new repository name/source (probably using gemfury.com) and  let the bundler figure out the versions.

Alternatively we just focus on the next release

[2020-05-15 09:20] ahx commented on #81
Yes, please! I cannot state how important this is to keep the project alive. I am curious what new name you come up with. Any name is good, really :). You are doing great. Thanks for the fork.

[2020-05-16 10:13] stas commented on #81
@jopotts @kpheasey renaming the gem is as much effort as moving to a completely new name and I'd rather do the later than a _quickfix_. What do you think?

[2020-05-17 12:32] kpheasey commented on #81
@stas I'm a fan of the gemspec rename with a redirect.  It keeps the project alive in the more popular ruby registry.

Authenticating with github cli seems like a steep requirement lol.  I know it's not the most effort, but I've never had to do it before.

The approach is simple to how `bundle` installs `bundler`.

[2020-05-17 15:41] stas commented on #81
@kpheasey what do you mean by this? I'm not sure we can redirect anything by ourselves, could you explain please?

[2020-05-17 15:44] kpheasey commented on #81
It's not a real redirect, just similar in idea. We still have to use the Gemfile snippet that @ToadJamb posted above, but at least it doesn't require authentication.

 The current authentication breaks most containers.

[2020-05-17 15:48] stas commented on #81
This can break dependencies and will fetch both versions as far as it looks like. What we have (as far as I can see) is either set up a gem on different package repository or rename everything and use rubygems....

[2020-05-17 17:43] kpheasey commented on #81
We would only need to change this line https://github.com/fast-jsonapi/fast_jsonapi/blob/master/fast_jsonapi.gemspec#L7

[2020-05-17 18:05] stas commented on #81
I don't find the idea of changing the name into something like `new_fast_jsonapi` very appealing. As I mentioned, I think we should pick a proper new name if go for this effort. There are already [other gems] depending on `fast_jsonapi` and asking them to rename their deps for something like `new_fast_jsonapi` is already plenty of effort. So if Netflix comes back and wants us to change the name, w

[2020-05-17 20:26] ahx commented on #81
Note that jsonapi-serializers (with an s at the end) is taken. And it’s a really good library, too!

[2020-05-18 12:47] kpheasey commented on #81
@stas Sorry, I misinterpreted your previous messages and thought you didn't want to rename at all.

What about `fast-jsonapi`.  It would only require renaming the gemspec, it's free on rubygems, and it maintains compatibility for anyone upgrading from fast_jsonapi.

[2020-05-18 13:02] stas commented on #81
I'm really concerned about Netflix and what they plan to do here, since they are just silent and they have all the rights to demand us not use `fast-/_jsonapi`. Not to mention that it's just all super confusing (and kinda silly to still state that we're always going to be the _fast_ implementation). Again, if we're actually going to put all this effort, I'd like us to leave the @Netflix related de

[2020-05-18 14:00] kpheasey commented on #81
Netflix can't make us change the name.  It's a fork of a public repository that is then hosted under a different name.  Rubygems doesn't enforce copyright claims on gem names and the project was public on GitHub, so there is no repercussions from any service.

Naming it `fast-jsonap`i will ensure users can switch over easily, it can be found easily, and only requires changing a single line of code

[2020-05-18 14:42] stas commented on #81
@kpheasey I'm not a lawyer, but I would not like somebody to keep the name of my _forked_ project for many (obvious reasons). It's both, unethical and potentially getting us in trouble due to the naming confusion that other users can keep blaming Netflix for bad releases!

A quick google search, clearly suggests *changing the name* after you fork is the right way to do it:
https://jamesdixon.wordp

[2020-05-18 14:55] kpheasey commented on #81
Ok, let's not go that way in the future.  But in the interim, let's just call it fast-jsonapi so users don't need to authenticate their servers with github to install it using the recommended installation instructions.

Once we figure out a name, rebrand the gem, and add migration instructions for users to change from `FastJsonapi`, then we can officially rename it.  You are right in assuming ther

[2020-05-18 15:12] jits commented on #81
Renaming this fork to `fast-jsonapi` is not a good idea, for all the reasons @stas has already given and, if I may add:

https://guides.rubygems.org/name-your-gem/

It breaks expectations and makes things more confusing.

If it was quick to rename this from `fast_jsonapi` --> `fast-jsonapi` then isn't it quick enough to rename it to anything else?

Also note the licensing terms of Netflix's origin

[2020-05-18 15:14] kpheasey commented on #81
No, it’s not quick enough to rename it to anything else. If the module name changes from `FastJsonapi` to `NewModule`, then it’s a big change and requires everyone to update their implementations.

[2020-05-18 15:18] stas commented on #81
@kpheasey to be honest, I don't understand the rush. We've been in this _limbo_ for a while and if I'd have to pick a fast solution, I'd set up a gemfury repo and host it there :see_no_evil:

Though even the way it is right now, folks can use it, not ideally, but pretty easily. So I think we should really not rush anywhere here...

[2020-05-18 15:20] kpheasey commented on #81
@stas Agreed, let's just not rename it and continue to use the following installation.

[code]

[2020-05-18 15:20] #81 closed

[2020-05-18 15:21] jits commented on #81
You could still provide a special compatibility module that needs to be required manually, which just does something this under the hood:

[code]

(I haven't tested this out specifically but the principle of providing a compatibility module still stands).

[2020-05-19 09:27] stas opened #86 "Rename the project"
Since it's clear that we have to move forward with this project without any further assistance from the original authors, [we need to pick a new name](https://github.com/fast-jsonapi/fast_jsonapi/issues/81#issuecomment-630228783) for this project.

Please leave a comment with the name you think reflects better the scope and purpose of this gem. It is important to note that:
 * the rubygems.org nam

[2020-05-19 09:28] stas commented on #81
Please leave your name suggestions #86

[2020-05-19 10:28] jits commented on #86
Couple of questions to help with this naming exercise:

1. Is there an intention for this fork to cater for more formats than JSON:API in the future?
1. Will this fork continue the "performance first" approach mentioned by the README and https://github.com/fast-jsonapi/fast_jsonapi/blob/master/docs/performance_methodology.md?
1. What level of backwards compatibility will this fork intend to have?

[2020-05-19 10:40] stas commented on #86
I think we have no reasons to change the license, so that stays.

1. This is a great question, and honestly I'm inclining towards leaving it as a pure library with one purpose and not moving into covering the full spec, something that I did with the [jsonapi.rb](https://github.com/stas/jsonapi.rb) (error handling, filters, pagination and so on...).
2. I can see how this could be relevant, but I do

[2020-05-19 11:00] jits commented on #86
Thanks @stas for the quick and informative response! All makes sense to me and I very much agree. Sounds like the goal is to keep things simple and cohesive, but also have the freedom to change and improve the existing implementation.

Will think of some names, and I hope to contribute / help out with PRs etc. in the future.

[2020-05-19 11:56] kpheasey commented on #86
FastJson / fast_json

[2020-05-19 12:02] jits commented on #86
`jsonapi_printer`

[2020-05-19 12:05] jits commented on #86
`jsonapi_presenter`

[2020-05-19 12:07] jits commented on #86
`jsonapi_transformer` OR `transform_to_jsonapi`

I like this theme as it fits with the way the library works – it doesn't assume serialisation, and you can do what you want with the "transformed" object.

[2020-05-20 20:46] sunderipranata opened #87 "Document when `set_type` is optional and can auto-reflect"
## Expected Behavior
The serialization should be fine (even without set_type)
[code]

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. create a class which includes `FastJsonapi::ObjectSerializer`
  2. pass the model into the instance of class created at # 1
  3. if the class created at # 1 do not implement `set_type`, the script will return error

## Specifications

  - Version:

[2020-05-21 12:00] stas commented on #87
Hi there @sunderipranata

I'm having a hard time understanding what is `Serializer::Business::Pagination`

Could you share with us the implementation please.

[2020-05-21 12:01] stas commented on #86
`jsonapi-serializer`

[2020-05-21 12:21] sunderipranata commented on #87
here it is
[code]

[2020-05-21 12:38] sunderipranata commented on #87
please consider this example:

[code]

the root cause is here:
https://github.com/fast-jsonapi/fast_jsonapi/blob/master/lib/fast_jsonapi/object_serializer.rb#L52

If the code didn't specify `set_type`, then the class' `record_type` will be nil and the code won't run
In the README, it was stated that type is optional.

please correct me if im wrong, is this the intended behaviour?

[2020-05-21 12:38] stas commented on #87
@sunderipranata can we also get an example of what's the object you're trying to serialize please?

[2020-05-21 12:39] sunderipranata commented on #87
sorry I deleted the previous comment and provide you with a more clean example

[2020-05-21 12:47] stas commented on #87
@sunderipranata the library will try to figure the type based on the name of your serializer class. In your case, your serializer class is `Serializer` which is generally a pretty generic name. Try changing your serializer class into something like `AnythingSerializer`. Should work...

[code]

I don't think this is a bug, but more of a documentation problem and we should update it to reflect the _

[2020-05-21 13:26] sunderipranata commented on #87
ah I see! Nice explanation! OK will try to document it on README soon. Thanks!

[2020-05-22 17:22] kimyu92 commented on #86
`lightning-jsonapi`

[2020-05-25 00:58] Zungong commented on #86
`quick_jsonapi`

[2020-05-25 11:52] sunderipranata commented on #87
Hi @stas here is the pull request: https://github.com/fast-jsonapi/fast_jsonapi/pull/88
thanks!

[2020-05-25 12:04] #87 closed

[2020-05-25 12:10] stas commented on #87
Thanks @sunderipranata !

[2020-05-26 09:48] killernova commented on #86
flash-jsonapi

[2020-05-26 14:54] jonathantribouharet opened #89 "Possibility to set dynamically the serializer on belongs_to relationship"
Hi,
for `belongs_to` polymorphic association I need to be able to manually set the serializer.
Something like for the has_many will be perfect:

[code]

The polymorphic option doesn't work correctly because we use namespace for serializers and models.

[2020-05-26 15:22] #89 closed

[2020-05-27 12:34] jordant0 opened #90 "Fields option is cached"
Suppose we have the following serializer

[code]

If we initialize the serializer with `fields` option, the resulting filtered JSON is cached

[code]

## Expected Behavior

Subsequent instances of to `UserSerializer` should respect their own `fields` option

[code]

## Actual Behavior

All subsequent calls to the serializer will return with first sparse fieldsets regardless of specified `fields` o

[2020-05-27 12:59] stas commented on #90
@jordant0 thanks for reporting this...

It looks like the [ActiveSupport::Cache::Store](https://api.rubyonrails.org/classes/ActiveSupport/Cache/Store.html) allows the namespace to be a proc... but it doesn't receive any args. What we could do is to decorate the `namespace` parameter to include the serializer `params` though... Alternatively, you might want to explore using a local variable outside

[2020-05-28 17:09] DVG commented on #86
Following in the footsteps of can_can -> can_can_can I humbly suggest `fast_fast_jsonapi`. I'd prefer keeping the original name in the project name for discoverability, and would suggest that getting something pushed to rubygems for ease of installation sooner rather than later would be ideal.

[2020-05-28 17:09] DVG commented on #86
Or community_fast_jsonapi ¯\_(ツ)_/¯

[2020-05-28 17:28] kimyu92 commented on #86
Inspired from this comment, `super_fast_jsonapi`

[2020-05-28 17:38] stas commented on #86
@DVG @kimyu92  thanks, but please let's keep it on-topic. If you don't think we've provided clear arguments on why this name should follow the rules we set, please ask away, I'll be happy to explain.

Both your suggestions will be ignored. Sorry.

[2020-05-29 14:00] DVG commented on #86
You are welcome to ignore whatever you choose to, I'm just some guy.

[2020-05-31 12:07] chrisgeek commented on #86
Since it is expected to be fast, sleek and lightweight, I would suggest `smart_jsonapi`

[2020-06-01 07:57] AriefLuthfi79 commented on #42
is this closed? @stas

[2020-06-01 07:59] AriefLuthfi79 commented on #42
I looks some code still using ActiveSupport::Concern

[2020-06-02 12:59] mayank2707 commented on #64
I have the same issue on rails 6.0.3

[2020-06-17 14:30] sandstrom opened #92 "Unfork"
This is a great project! 🏅

To make it more obvious that this is the canonical repository, I'd suggest unforking from the original repo (removing the text "forked from …").

To unfork, simply contact Github support and explain that the other repo is stale/old and that you want to unfork. They'll fix it within ~1 day.

Having a non-forked repo will help signal that this is the canonical repo, which

[2020-06-17 14:34] stas commented on #92
Thanks @sandstrom, we're actually on our way to renaming the project completely. Once it's done, we'll unfork it.

Please follow the #86 thread in the meantime. I hope you don't mind me closing this one :bow:

[2020-06-17 14:34] #92 closed

[2020-06-18 23:49] faqndo97 opened #93 "Version is not the same with the release"
## Expected Behavior

Be able to install the gem in the way explained in the RADME.md, that is adding this in Gemfile:

`gem 'fast_jsonapi', '~> 1.7.2', git: 'https://github.com/fast-jsonapi/fast_jsonapi'`

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. create new rails project
  2. put `gem 'fast_jsonapi', '~> 1.7.2', git: 'https://github.com/fast-jsonapi/fast_jsonapi'` on Ge

[2020-06-18 23:52] faqndo97 commented on #93
Just to add a comment, I fixed the problem not specifying the version on Gemfile, but the new release should be created or the readme should be updated I think

[2020-06-19 00:17] stas commented on #93
Thanks @faqndo97!

I'll close this, since we're just late with #86 which should fix everything related to releases :see_no_evil: :bow:

[2020-06-19 00:17] #93 closed

[2020-06-21 18:55] gee-forr commented on #86
Is anyone opposed to `fast_jsonapi_serializer`? It hits these notes:

- Name is available
- Does what it says on the tin
- Close enough to the original project's name to signal it's related.

I wouldn't mind taking a crack at renaming it if you all like this name? Let me know.

[2020-06-22 10:23] stas commented on #86
@gee-forr `jsonapi-serializer` is shorter and has a bunch of votes. We'll proceed with that. Thanks to everyone for helping with this! <3

[2020-06-22 13:53] stas commented on #86
[code]
It's out! :partying_face:

https://rubygems.org/gems/jsonapi-serializer

[2020-06-22 13:53] #86 closed

[2020-06-23 15:06] mdesantis opened #95 "Serializer resolving fails when a sub-serializer tries to use a super-serializer"
I have the following serializers:

- app/serializers/user_serializer.rb
- app/serializers/namespace/content_serializer.rb

user_serializer.rb contents are:

[code]

content_serializer.rb contents are:

[code]

While it works for the `Namespace::Category` serializer, the following error is raised for the `serializer: 'User'` line:

[code]

As workaround I'm using the class directly: `belongs_to :au

[2020-06-25 17:20] delphaber opened #96 "[Help] Is there a way to add attributes at run time? (dynamic attributes)"
Hi :)

I have a `Model` and I do not know at design time how many attributes it could have, because, for example, they comes from json objects stored in database.

Is there a way for `ModelSerializer` to include these attributes in the `attributes` result key?

Right know I do something like this in the serializer:

[code]

and this generates an output like this:

`{ data: [ { id: '2324234',  type

[2020-06-26 20:32] stas commented on #96
Heya!

Unfortunately nope and I don't think that's a great idea since it makes things like sparse fields really inconsistent.

Generally speaking you can generate on-the-fly serializer classes and feed the objects to them... but again... that's more of a concern of the end-user.

I hope this answers your question :hugs:

[2020-06-26 20:32] #96 closed

[2020-06-29 02:14] csalvato opened #97 "Queries are not optimized when using associations"
## Expected Behavior
When using associations in a serializer, such as `belongs_to` or `has_many`, relationships should use `.includes` to eager load data for optimized queries.

## Actual Behavior
`includes` is not being used, causing unoptimized queries.

## Steps to Reproduce the Problem

Create relationships as follows:

[code]

[code]

[code]

[code]

[code]

[code]

Then run the serializer li

[2020-06-29 09:48] stas commented on #97
@csalvato thank you for reporting this, but your request is out of scope of this library.

The goal of this project is to provide a fast and correct JSON:API serialization for **any Ruby object**, be that an ActiveRecord model or just a PORO. To optimize the queries, please consider calling `includes()` before passing a relationship to the serializer.

So instead of
[code]
you'll end up with somet

[2020-06-29 09:48] #97 closed

[2020-06-29 16:49] csalvato commented on #97
@stas Thank you! This was just what I needed to know!  Maybe this should be present somewhere in the README?

If you agree, I can open a PR adding some instructions on how to avoid unoptimized queries when using this gem.  If you think that's on the developer to know, though, I am happy to just leave it as is.

This definitely helped, so thank you so much!

[2020-06-29 16:57] stas commented on #97
@csalvato that sounds great! We also have a `docs` folder for all kind of guides. Feel free to put it there and just mention it in the readme :bow: :upside_down_face:

[2020-07-01 13:26] delphaber commented on #96
hi @stas thanks for the reply! I understand your concern :)

I managed it doing something like this, if anyone coming here is interested :)

[code]

[2020-07-01 13:28] delphaber commented on #96
Being able to override the default behaviour with a 10 minutes read of the code and 3 lines of code is a big pro for me! :) Great work

[2020-07-02 09:27] delphaber opened #98 "Remove instrumentation for serialized_json ?"
I included this line

`require 'fast_jsonapi/instrumentation/serialized_json'`

and got this:

`/xxxxx/jsonapi-serializer-2.0.0/lib/fast_jsonapi/instrumentation/serialized_json.rb:5:in `<module:ObjectSerializer>': undefined method `serialized_json' for module `FastJsonapi::ObjectSerializer' (NameError)`

I think that's because `serialized_json` has been removed (I read that in the changelog).

Sha

[2020-07-02 14:01] stas commented on #98
@delphaber you're right, looks like something we missed.

The Skylight integration is already broken, more context here #39
So the plan is to make it a separate gem, or ideally maintain this integration as part of the skylight gem. Do you mind if we move the conversation there?

[2020-07-03 10:25] mperice opened #99 "Feature request: meta field on relationships"
As suggested [here](https://github.com/Netflix/fast_jsonapi/issues/420#issue-446329753) currently this feature is still missing from the serializer.

I'll try to make a pull request and implement this.

[2020-07-07 14:23] stas commented on #99
Closed in #100

Congrats on the :100: issue/pr :raised_hands:

[2020-07-07 14:23] #99 closed

[2020-07-20 06:43] AlbaHoo opened #104 "Model with a column "size" will break the serializer as it thinks @resource is an array."
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

Here is the situation,  I have a model called "DeviceSecondaryModel" and it has a column name is "size", this is causing issues,

I have to dig into the source code and found this:
[code]
So basically it treated my single resource as array, as it has a size method.

I don't know this is a bug report or a feature request,

[2020-07-21 10:02] jkogara commented on #104
I think this can be closed - there was a fix for this in 0edebd99 - @AlbaHoo looks like you're running an older version?

[2020-07-23 04:53] Trehana opened #105 "SystemStackError (stack level too deep):"
## Expected Behavior
Caching of the serializer

## Actual Behavior
When i add

cache_options store: Rails.cache, namespace: 'jsonapi-serializer', expires_in: 1.hour
this error comes up
SystemStackError (stack level too deep):

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

  - Version:
  - Ruby version:2.6.2

[2020-07-29 12:33] stas commented on #105
Hello @Trehana

I'm afraid we need some more details on how exactly this is used. Is it possible to at least get the initial parts of the backtrace maybe? Otherwise we can't really reproduce it, sorry.

[2020-07-30 16:25] TheTharin commented on #83
@kln Can you give an example of how you managed to solve the problem? How did you pass the parameter from first serializer into the relationship serializer?

[2020-08-05 15:52] GuiTeK opened #106 "Performance issue: lots of memory allocations triggering full GC makes everything slow"
## Context

I'm opening this issue following [this message](https://github.com/jsonapi-serializer/jsonapi-serializer/pull/103#issuecomment-665797603) from @stas.

I'm using jsonapi-serializer in a Rails API project.

## Behavior

When requesting many times an endpoint which uses jsonapi-serializer, a single request will regularly take much more time to complete than the others. For example, normal

[2020-08-05 16:10] stas commented on #106
@GuiTeK do you think we could reproduce this without using Rails? Rails by itself is already _a lot of haystack to find a needle_...

[2020-08-06 12:18] bradrobertson commented on #21
@christophersansone my apologies I somehow completely missed your response. Thanks for that example, we'll give it a try and see if that does what we need!

[2020-08-07 09:14] dcangulo opened #107 "Missing condition for custom attribute documentation"
I have been banging my head in the last 2 days in trying to accomplish this and hopefully, we can add it in the documentation in case other people will encounter the same issue I had.

What I am trying to accomplish is a condition for the custom attributes.

In the documentation we have **custom attributes**:
[code]

And **conditional**:
[code]

After trying several different syntaxes to accomplis

[2020-08-07 09:21] stas commented on #107
@dcangulo thank for the feedback.

I think it's fair to include the attribute block in the example, along with the conditional block if that's what you mean by the missing documentation.

[2020-08-07 11:35] #107 closed

[2020-08-11 11:54] #90 closed

[2020-08-11 22:56] ziggythehamster commented on #106
When you're not using jsonapi-serializer, what are you using instead? What makes these payloads large? Large collections, or just lots of data in individual fields?

[2020-08-13 13:09] GuiTeK commented on #106
@stas Yes, I can try that next week. I could also enable instrumentation as you suggested in your PR #110.

@ziggythehamster We're only using jsonapi-serializer right now. Before, we were using the builtin Rails JSON serialization and didn't experience this weird issue.

**Also, I didn't explain this in my original post, but the random request which is slowed down can be any endpoint, not only the

[2020-08-14 08:14] ekampp opened #111 "Russian-doll-caching discussion"
This is a prompt for a discussion. We're using this library heavily, and we're beginning to see the need for a form of Russian-doll-caching of the different parts of the JSON within the same serializer. E.i.

[code]

In the above case, it would be great if the `target` and `user`, `attr1`, and `attr2` could be individually cached, so that when let's say `attr2` changes, we don't have to go to the

[2020-08-14 09:00] stas commented on #111
@ekampp I'm not sure I follow here, maybe you can share some more details please. Particularly:

The way caching works (on Rails at least) is that there's a key which includes the timestamp (say, `updated_at`, along with the cache store expiration/TTL). This means that the cache store is not evaluating each attribute or relationships fully, it's evaluating the `cache_key` (see [1], [2]). You can o

[2020-08-14 09:57] arni1981 opened #112 "Error while using Sequel gem"
I'm having trouble getting this to work with the Sequel gem, no problems when using Rails ActiveRecord.

## Expected Behavior
[code]
I expect this to output the desired JSON

## Actual Behavior
However, what happens is this error, which is strange because this obviously has a column `id`

**_FastJsonapi::MandatoryField (id is a mandatory field in the jsonapi spec)_**

## Steps to Reproduce the Pro

[2020-08-14 10:52] stas commented on #112
Thanks @arni1981!

Might be the time to actually add a test or two for sequel :see_no_evil:

[2020-08-14 13:14] ekampp commented on #111
Calling `ImportSerializer.new(obj1).serializable_hash` caches the generated JSON. Changing `obj1.attr2` currently breaks the whole of the cache for obj1 -- including the included stuff.
It would be great if it would only break the cache for the specific part of the JSON related to `attr2`.

[2020-08-14 15:01] stas commented on #111
@ekampp exactly what would that part be? If a record is updated, any related cache is invalidated.

[2020-08-16 13:46] stas commented on #106
@GuiTeK what do you mean by _builtin Rails JSON serialization_? Rails doesn't have any support for JSON:API serialization!!!

Are we talking here about the JSON serialization or JSON:API serialization. I would like to kindly remind that these two a completely separate topics. You can learn more about JSON:API at https://jsonapi.org/

[2020-08-16 13:49] stas commented on #106
This sounds like it's an issue caused by your setup. Again, `jsonapi/serializer` is a library. With the latest version, we're no longer doing any serialization at all. See this doc to enable alternative JSON serialization support (gems like `oj`):
https://github.com/jsonapi-serializer/jsonapi-serializer/blob/master/docs/json_serialization.md

[2020-08-16 14:41] stas commented on #112
@arni1981 I'm not a Sequel expert, but looking at their documentation, Sequel is referring to the `pk` as the primary key method. So the right way would be first to tell the serializer to use `set_id :pk`.

Aside from this, for some reason Sequel::Model instance responds to `:each` by iterating through the model instance attributes, and for that reason, it tries to serialize the instance attribute

[2020-08-16 17:05] arni1981 commented on #112
Using `set_id :pk` works if you're working with a Sequel dataset like `User.where(id: [1,2])`, not if you're working with a single instance `User.first(id: 1)`, then the error message is **undefined method `pk' for [:id, 1]:Array**

[2020-08-19 15:03] GuiTeK commented on #106
Before, we were _not_ using JSON:API specification/format, we were using our own "format" and basically doing `my_object.to_json`.

[2020-08-19 15:26] GuiTeK commented on #106
I dug into jsonapi-serialiazer code and added some instrumentation code like in your PR #110.

Here is what the call stack looks like when using a serializer with a collection of ~3300 objects:
- `render` - 6.9 seconds
    - `to_json` - 6.9 seconds, of which about 0.2 second is spent in the actual JSON serialization (i.e. by [Oj](https://github.com/ohler55/oj)) once the Ruby objects have been gene

[2020-08-19 17:34] tadiou opened #113 "Inheriting from a serializer doesn't copy `set_type` and `set_id`"
## Expected Behavior
Inheritance properly scopes `set_type`

## Actual Behavior
Lots of `undefined_method 'to_sym' for nil:NilClass` when you don't explicitly set the the `set_type` on the child.

## Steps to Reproduce the Problem

Original Issue on Fast_JSONAPI: https://github.com/Netflix/fast_jsonapi/issues/79

  1. Create a serializer with `set_type`
  2. Inherit the serializer onto another ser

[2020-08-27 10:51] #112 closed

[2020-08-30 14:57] #39 closed

[2020-08-30 15:03] stas commented on #106
@GuiTeK glad you found the cause of the slowness!

As far as I know, JSON streaming is not supported by it's spec, there's an extension or some project related to it, but nothing that we could just "tweak" to get such a feature easily.

I generally recommend paginating large responses. JSONAPI supports and documents it and aside from the issues you're describing, your UI will end up much snappier

[2020-08-30 15:03] #106 closed

[2020-08-30 15:04] stas commented on #104
We switched the collection detection to always test for an `Enumerable` from now on.

Closing this as this should be more than enough to cover the use-cases.

[2020-08-30 15:04] #104 closed

[2020-08-30 15:05] stas commented on #98
Handled in 72f3ae64ddad3092572609da5dcf6f5fba4907e7

Thank you @delphaber

[2020-08-30 15:05] #98 closed

[2020-08-31 05:07] tonydehnke commented on #106
@GuiTeK - I think I might be a experiencing something similar,  can you explain where or how you fixed things a bit more?   Also is this something that should get submitted to Rails as a fix?

Thanks!

[2020-09-04 04:25] trlorenz opened #119 "Key transforms break 'fields' and 'include'"
## Expected Behavior

The 'include' and 'fields' options should work as documented regardless of whether a key transform is in use, or whether a relationship has been "aliased."

## Actual Behavior

When a key transform is in use or a relationship has been "aliased," filtering attributes on the relationship via 'fields' doesn't work; all attributes for the relationship are returned.

## Steps to R

[2020-09-05 14:34] tonydehnke opened #120 "Moving from fast_jsonapi to jsonapi-serializer - anything to worry about?"
First time dealing with a gem/repo name change.

Is there anything we need to do or worry about when replacing the old fast-jsonapi gem in our project with jsonapi-serializer?

Any advice or heads-up on things would be great.

Thank you.

[2020-09-07 11:33] stas commented on #120
@tonydehnke there should be no major changes required to make the switch. In fact, you can still do things like `require 'fast_jsonapi'` since we tried to keep v2 compatible with what was before `fast_jsonapi`. Some changes did happen though, please review the `CHANGELOG.md` for those, but everything should be documented in the readme.

Let us know if you discover anything....

[2020-09-07 14:52] cazacutudor opened #121 "Serialize collection of polymorphic objects"
## Problem

I want to serialize a collection that's containing polymorphic objects, how can i do that ? It is supported ?

# Example

CollectionSerializer.rb
[code]

MovieSerializer.rb
[code]

ShowSerializer.rb
[code]

LiveShowSerializer.rb
[code]

controller.rb
[code]

## Specifications

  - Version: 2.1.0
  - Ruby version: 2.6.6

[2020-09-07 19:03] stas commented on #121
Hi there @cazacutudor

Would you give it a chance first and review our documentation on how to enable the polymorphic relationships?
https://github.com/jsonapi-serializer/jsonapi-serializer#customizable-options (at the end of the table)

Let us know what didn't work :bow:

[2020-09-08 10:41] heldersantosmoreira opened #122 "How to serialize custom, non ActiveRecord, relationship?"
Any suggestions on how to be able to serialize a custom relationship that is not an ActiveRecord one?

Doing

`belongs_to :foo`

seems to assume and expect that `foo` will be an ActiveRecord relationship (it will try to look it up using `foo_id` for instance).

Let's assume I have a PORO "relationship" in my object called `xxx`.

[code]

How could I serialize this and make it go into the relations

[2020-09-08 11:17] stas commented on #122
@heldersantosmoreira the tests we have a not using ActiveRecord, so that could be a good starting point where to explore:
https://github.com/jsonapi-serializer/jsonapi-serializer/blob/master/spec/fixtures/movie.rb

As for your specific question, take a look at the [options you can pass](https://github.com/jsonapi-serializer/jsonapi-serializer#customizable-options) to help modify the way the relati

[2020-09-08 14:25] heldersantosmoreira commented on #122
Thank you for the quick and helpful response @stas 🙏

I had a look at those options but hadn't quite managed to get it going. Having a look at the specs unblocked it for me 👍

[2020-09-08 14:25] #122 closed

[2020-09-08 17:19] cazacutudor commented on #121
Hi @stas :) , thank you for your advice. I already checked the documentation, as we use polymorphic relationships with success in our production apps. Anyway, what i'm trying to figure out is: if is possible to serialize a collection of polymorphic object outside of an association (relationship), considering the polymorphic objects as root resources.

[2020-09-08 18:07] cmacduff commented on #53
Just to toss in another example after running into this same issue, the project I'm working on uses this pretty heavily:
https://github.com/jcypret/hashid-rails

to avoid having the raw id number passed around in requests. The workaround @johnnybenson described works fine, but it's a lot of the same style of block over and over.

[2020-09-08 20:30] christophersansone commented on #53
@cmacduff Thanks, yeah it looks like the same issue, and the workaround should still work.  This library does not have a great API for this use case at the moment.  I proposed some things in #45 that might be worth a read, but it has not yet been implemented.

On one hand, we want this to be performant and to minimize implicit database queries to fetch the relationship models.  Therefore it attemp

[2020-09-09 01:21] stas commented on #121
@cazacutudor apologies for misreading your initial request :see_no_evil:

In a nutshell, [nope](https://github.com/jsonapi-serializer/jsonapi-serializer/blob/master/docs/performance_methodology.md). And this is definitely something to reconsider, since the initial design/architecture didn't focus on that.

An alternative way you can approach this, is by manually handle the serialization of every r

[2020-09-09 02:04] #119 closed

[2020-09-09 02:18] stas commented on #119
@trlorenz sorry for not being able to take a look at this in the meantime... Did you figure it out or it was just a false alarm...?!

[2020-09-09 05:24] trlorenz commented on #119
@stas Hey, no worries and thanks for the reply!

It was bad assumptions on my part, probably. But... since I've got you, let me ask:

If you've got a record type of :foo_bar, and you're using a key transform of :camel_lower, should you be asking for {fields: {foo_bar: ['field_one', 'field_two', ...]} or {fields: {fooBar: ['fieldOne', 'fieldTwo', ...}}? I was assuming the former, because I was assu

[2020-09-09 10:24] ChrisHampel commented on #121
I believe this PR from the old repo was attempting to add this support https://github.com/Netflix/fast_jsonapi/pull/410, possibly could see if he would like to contribute it to this repo

[2020-09-09 12:10] cazacutudor commented on #121
Thank you @stats, with some tweaks, i sure the provided alternatives would work :man_cartwheeling:

Anyway, @ChrisHampel (thanks Chirs :pray:) have a very good point, if you don't mind, should we ask David if he wants to contribute to this repo.

[2020-09-10 08:10] stas commented on #121
@ChrisHampel @cazacutudor of course, I'll be happy to review any work regarding this issue! My only concern is that it could lead to a bunch of performance issues, but let's keep our minds open! <3

[2020-09-10 08:14] stas commented on #119
Yep, the case type should be respected across the full implementation. I'm happy it all works for you!

[2020-09-10 14:56] trlorenz commented on #119
Right on. And thanks for the work you've put into this.

[2020-09-16 20:43] dvandersluis commented on #121
Hey guys thanks for pinging. My PR on `fast_jsonapi` never got merged obviously but we've been using it in production for a year and a half now, and haven't had issues with it (albeit I created it for our specific use case so there might be edge cases there).

I'm happy to rework it on top of this repo, but I need to evaluate first if we can drop in `jsonapi-serializer` instead of the older gem in

[2020-09-17 08:53] stas commented on #121
@dvandersluis I'd be curious to run some benchmarks to see how fast would be such a change. I'll take a look at the PR in the meantime.

Thank you!

[2020-09-17 09:41] vbeliaiev opened #123 "Conditional lazy_load_data for relationships"
## Expected Behaviour

I need to include/exclude data for relationships depending on external parameter given to serializer.

For example `BundleSerializer.new(bundle, params: { lazy_load_instruments_data: true })` should **exclude** the data for relationships.

And `BundleSerializer.new(bundle, params: { lazy_load_instruments_data: false })` should **include** the data

It could be resolved by pa

[2020-09-17 10:15] stas commented on #123
@vbeliaiev are you sure what you're trying to achieve is not documented already in [the conditional relationships](https://github.com/jsonapi-serializer/jsonapi-serializer#conditional-relationships) section?

There are some known issues with the `lazy_load_data` as well, mostly mentioned in #23

[2020-09-17 10:39] vbeliaiev commented on #123
ah, no, but it's pretty close, we need to use the same serializer for 2 different endpoints.

In the first endpoint we need to have regular references `has_many :instruments` with already loaded data. (e.g.  `lazy_load_data: false`)
In the second endpoint we need to have the references `has_many :instruments` with the same name but use only link to relationships  (`lazy_load_data: true`)

I tried

[2020-09-17 11:38] dmytro-savochkin opened #124 "Memoization for helper methods?"
Hello.

Is there a recommended way to achieve memoization in helper methods?
Basically I have several attributes which call a computation heavy method from a model. I'd like to be able to memoize its result for a particular instance of a serializer. I can achieve it like this:

[code]

But Rubocop warns me this is an offense of ThreadSafety/InstanceVariableInClassMethod.
Another way I can think of

[2020-09-17 12:27] stas commented on #124
@dmytro-savochkin would you consider doing the memoization on the object-side (model, or whatever you're throwing into the serializer)?

I generally advise keeping the serializers away from logic/computations...

[2020-09-17 13:23] dmytro-savochkin commented on #124
@stas Well, yes, probably I'll be doing what you suggested or passing it as params.
I was asking because we are currently in a middle of migration from active-model-serializers to jsonapi-serializer and memoized helpers were one of the things we could do before.

Ideally though I think it would be nice to have such a thing here, it's not necessary something heavy, just something you'd rather not r

[2020-09-17 13:50] stas commented on #124
@dmytro-savochkin I don't think it's worth exploring that direction for one particular reason: performance.

The architecture of the `jsonapi-serializer` looks closer to a bunch of static methods than to an OOP architecture where a bunch of objects are initialized and passed around.

Another architectural issue/concept to explore here: **is memoization of the object attributes really a serializer

[2020-09-17 13:50] #124 closed

[2020-09-17 19:29] dvandersluis commented on #121
@stas @cazacutudor @ChrisHampel I have ported my PR to this gem.

[2020-09-18 09:19] nattfodd opened #128 "Associations with the same name on different serializers lead to including data that has not been requested"
Given there are two models `Parent` and `Child`, both having their own `LineItems` associated with them, including child line items leads to parent line items be included in response

## Expected Behavior

When I request `/parents.jsonapi?include=children.line_items` the response should not include `parent.line_items`.

## Actual Behavior

When I request `/parents.jsonapi?include=children.line_ite

[2020-09-18 09:27] nattfodd opened #129 "Lazy Load Data does not respect inclusion of nested associations"
When I ask for `/parents?include=children.line_items` I get children in response in the `included` array, but I don't get children in the `data.relationshipds` - it's still empty array without IDs.

## Steps to Reproduce the Problem

[code]

[2020-09-18 10:20] stas commented on #123
@vbeliaiev I saw the PR, but to be honest, I'm still not sure I understand what are we trying to achieve here. Could you help us understand how's this different from the already available set of conditionals the API provides?

Basically, there are 3 ongoing discussions related to the (badly documented `lazy_load` thing): #21 #23 and this one. At this point, I really want to make sure we are all on

[2020-09-21 12:22] stas opened #130 "Rails 4 and Enumerable compatibility"
## Expected Behavior

Rails 4 ActiveRecord queries/relationships should identify as a collection.

## Actual Behavior

[code]

More context here in https://github.com/jsonapi-serializer/jsonapi-serializer/pull/118#issuecomment-696054912

[2020-09-23 16:22] ajeffika opened #131 "Cannot serialize link to Active Storage attachment"
Serializer doesn't allow to output url of attached image/attachment (while using Active Storage)

I wanted to serialize attachment from a model(using Active storage) but there seems to be no way to do that.
How do I get a link from an ActiveStorage attachment?

[code]
 are not recognized within the serializer, and including whichever of the url helpers doesn't resolve the problem.

  - Version: 2.

[2020-09-23 16:29] vbeliaiev commented on #123
The parameter `lazy_load_data` is an analog of `include_data` option in AMS. (https://www.rubydoc.info/gems/active_model_serializers/ActiveModel%2FSerializer%2FReflection:include_data)

According the spec jsonapi (https://jsonapi.org/format/#document-resource-object-relationships):
[code]

When the attribute of `lazy_load_data` is false it means we need the data resource as relationships.
When the

[2020-09-23 17:14] #131 closed

[2020-09-24 05:19] wangthony commented on #64
There are 2 workarounds:

1. Use the `object_block` instead: `has_many :deals, &:active_deals`
2. Set `polymorphic: true` wherever you use `object_method_name`

Seems like a bug in Relationship - `object_method_name` is only called in one place: `#fetch_associated_object`. However, that method is never called if you have a `@static_record_type`. Hence the `polymorphic` workaround.

[2020-09-28 23:10] JorgeGarciaxyz opened #132 "Deserialization options"
Hello there, I've been using this gem and I love it.

I had a bad time while trying to find a good deserialization option but I found out a really good one
https://github.com/stas/jsonapi.rb

This gem also provides more functionality, not only deserialization.

I wanted to document this option somewhere visible so people can find it or even suggest other options.

Do you mind if I add this to the

[2020-09-29 01:04] davidcparkk opened #133 ""Relationships" does not include expected data in chain of associated serializers"
## Expected Behavior
I am having difficulty loading data into my client-library data store due to missing data in the "relationships" node, however, I am making the correct controller method call such that I have the desired data in my "included" node. My understanding is that you need to have the data both in "relationships" and "included" to properly fetch, map, and store data in the data store.

[2020-09-29 10:20] stas commented on #132
Thank you for the kind words @JorgeGarciaxyz :bow: :heart_eyes:

I'll be more than happy to merge documentation/suggestions or community work related to `jsonapi/serializer`!

[2020-09-29 10:27] stas commented on #133
Hi there @davidcparkk

I believe there's a missing relationship in your first serializer:
[code]

The reason the `included` has the missing relationship data is because it's coming from the last include directive/serializer.

I hope this helps...

[2020-09-29 13:29] JorgeGarciaxyz commented on #132
@stas sounds good! I'll work on this :raised_hands:

[2020-09-29 16:59] davidcparkk commented on #133
@stas That did the trick :) Sorry to raise an issue over something so trivial, many thanks

[2020-09-29 16:59] #133 closed

[2020-09-30 17:05] mjerem34 opened #134 "Unable to get serializer options working"
Hello,

**CONTEXT :**
 I have 2 different serializers :
[code]
[code]
With controllers :
[code]
[code]
The `serializer_options` comes from an helper method :
[code]
SERIALIZER_OPTIONS comes from an initializer :
[code]
And `config/serializer_options/v2.yml` :
[code]
(no bathrooms attribute for HouseSerializer)

---
**PROBLEM :** (I selected just one item for demo)
Data from HouseSerializer :
[code

[2020-10-01 08:51] #134 closed

[2020-10-01 09:30] stas commented on #134
I hope it all worked out for you @mjerem34 :upside_down_face:

[2020-10-02 10:27] vbeliaiev commented on #123
@stas just to ping you if you've any though about this issue 🙏

[2020-10-02 19:52] benlieb opened #135 "How do I keep the association for new records that fail validation?"
When new model data has failing validations, I need those errors to come back to my front end and have the associations intact. The problem is that failing new records don't have an id, and they come back to the front end un-associated.

I've been shimming this by providing a "fake" id on the rails side before serialization, and then that id is removed on the front end for re-submission. My soluti

[2020-10-08 14:54] JorgeGarciaxyz commented on #132
closed by #137

[2020-10-08 14:54] #132 closed

[2020-10-08 18:43] bradherman opened #138 "Cache not honoring params"
## Expected Behavior

Consider the following example:
[code]
The cache should respect the params.

## Actual Behavior

The cacheing mechanism is not honoring the params.

## Steps to Reproduce the Problem

  1.  Set up conditional attrs using passed in params and block evaluation as seen above
  2. Ensure cacheing is turned on
  3. Call serializer w/ summary: true and summary:  false

## Specifica

[2020-10-12 07:15] bradherman commented on #138
Dug into the code a bit and looks like it's just not designed to create a new cache based on params values... I suggest adding the same sort of code as we have in the SerializationCore in the `record_cache_options` method, along the lines of:

[code]

[2020-10-15 14:46] stas commented on #138
@bradherman I actually had to deal with this when I refactored the cache API in:
https://github.com/jsonapi-serializer/jsonapi-serializer/commit/4d1a764abcec21fa3aaa101474da9dc7eb0d9659

To be honest, I'm not sure we want to enable something like that on a general basis. I'd rather leave folks to use the existing cache API and handle it specifically. The way we approached, this was by setting up a

[2020-10-16 11:34] stas commented on #135
@benlieb I'm not sure I fully understand what you're trying to achieve here, but generally, I'm advising to stay away from nested resource creations requests. For example, instead of trying to dump a big payload into a request, consider splitting it into per-resource requests, where errors are handled inside an own context and can be treated properly on the UI.

Alternatively, just patch the seria

[2020-10-16 11:34] #135 closed

[2020-10-16 11:40] stas commented on #123
@vbeliaiev I still think that since you already have two separate endpoints, removing the option to include the `chapters` from the `liked_content/books` is more than enough to fix this. I still fail to see the need of the `include_data`/`lazy_load_data` param at this point. Please let me know if I'm missing anything.

Yep, another reason to move away from it :see_no_evil:

[2020-10-22 08:51] amkisko opened #140 "Polymorphic option should be either deprecated or documented better"
It is not clear that `polymorphic` option takes priority over `serializer` option. Also seems that `serializer` option is recommended way for polymorphic relations: https://github.com/jsonapi-serializer/jsonapi-serializer#specifying-a-relationship-serializer

Code state: https://github.com/jsonapi-serializer/jsonapi-serializer/blob/master/lib/fast_jsonapi/relationship.rb#L74 and this behaviour is

[2020-10-23 09:59] vbeliaiev commented on #123
@stas  it resolves only the problem with include but the serializer will load the data inside of relationships, please see:

[code]
so, it still does N+1 to fetch the ids of chapters (or it force us to use the `include` of AR)

But in fact for the `liked_content/books` we need only

[code]

[2020-10-23 10:03] stas commented on #123
@vbeliaiev would you be kind to share the example of your serializer please? You can strip out private stuff...

[2020-10-23 10:34] vbeliaiev commented on #123
@stas yes, sure

The serializer with `lazy_load_data: true`

[code]

The equal serializer with the `lazy_load_data: false`

[code]

[2020-10-23 10:38] vbeliaiev commented on #123
@stas You can find the full code of these serializers here
https://github.com/vbeliaiev/test-example
So, there are 2 almost equal serializers except `bundles_instruments` references.
(I've used the example with books and chapters in order to simplify the questions, in fact we have a `bundle` with many `bundles_instruments`)

[2020-10-23 10:54] stas commented on #123
Would you consider using this definition instead of the first one:
[code]

[2020-10-23 15:37] vbeliaiev commented on #123
@stas Thank you for the solution, it resolves the performance issue but unfortunately it doesn't match with json-api conventions :(

Please see:
https://jsonapi.org/format/#fetching-relationships

According the "Resource Linkage", please see:
https://jsonapi.org/format/#document-resource-object-linkage

In the example above the `resource linkage` object will be an empty array e.g. `"data" => []` b

[2020-10-23 16:33] stas commented on #123
I see. This makes sense huh...

I don't think the current implementation takes into account the idea of having either `data` or `links`, but not everything.

I'll be sharing (mostly full) rewrite of the codebase in the next days. Having that I can go through all the issues and actually review the particularities.

Sorry for issue :(

[2020-10-23 16:42] vbeliaiev commented on #123
yes, no problems, thank you for the return ! :)

[2020-10-23 20:14] #105 closed

[2020-10-23 20:16] stas commented on #120
@tonydehnke I'm closing this in favor of #139

[2020-10-23 20:16] #120 closed

[2020-10-24 11:12] stas commented on #140
@amkisko I agree, this is rather confusing. I'm scheduling this for the v3.0.0 which will introduce a rewritten version of it.

Thank you!

[2020-10-29 07:04] bradherman commented on #138
Yeah makes sense... Definitely could get abused and/or be very ineffective with lots of params

[2020-10-29 12:11] stas opened #144 "Merge `jsonapi-serializer` with `jsonapi.rb` ?"
As I'm moving towards a major refactoring of this project I'd like to lunch for a community call.

A bit of a backstory, I'm currently, unofficially, maintaining 3 popular-ish JSONAPI related projects:
 * this one, aka `jsonapi-serializer`
 * https://github.com/stas/jsonapi.rb - which provides support for a (almost) full coverage of the JSONAPI spec (aka, filters, pagination, errors, and so on)
 *

[2020-10-29 15:15] ChrisHampel commented on #144
Part of why I used fast_jsonapi(in the process of converting over to this library from it) in the first place was that it was purely a serializer. We have systems that handle: filtering, pagination, deserialization, and errors. Thus, having a library that is just a serializer was preferable.

[2020-10-30 12:44] stas commented on #138
@bradherman please let me know if this can be closed for now. Thank you!

[2020-11-06 10:39] stas commented on #21
@arinhouck wrote in #141

I'm moving this conversation to it's related issue to avoid overwhelming the PR discussions....

---

@arinhouck, I'd like to take a step back and review both, the needs and the approach to solve this issue.

From my understanding, the issue is a result of the poor API param `lazy_load_data`, and pretty much every other issue is related to a workaround to get their relati

[2020-11-06 17:20] arinhouck commented on #21
Quite possibly, however with one caveat that we often don't have a link to present for all relationships. However we could just define a default link with a value of "# if I am understanding this right.

(a) I am getting the understanding that if a link is present on the relationship definition in the serializer (eg. has_many, belongs_to, has_one) then it would not load the data key (eg. data: [])

[2020-11-06 18:05] stas commented on #21
@arinhouck [relationships value](https://jsonapi.org/format/#document-resource-object-relationships) has nothing to do with `include`. The specs are pretty clear, a relationship should have at least `data: []`, `links: {}` or `meta: {}`. The problem in v2.0 is that there's no way to turn off `data: []` serialization.

[2020-11-06 18:28] arinhouck commented on #21
Understood, so you are saying (b) is not true. Unfortunately, I don't have the luxury to implement more endpoints and attach via links on all of our relationships. Especially when we have frontend clients that are requesting relationships differently on the same endpoint.

At which then it would be nice to still have the API flexible enough at the relationship definition. By sharing the nested rel

[2020-11-06 18:36] stas commented on #21
@arinhouck to be honest I'm still not clear what exactly you're trying to achieve with this _includes_ argument.

Basically, `includes` parameter will manage what is being included in any relationship, but the representation of that data, is exclusively up to `data: []`, `links: {}` or `meta: {}`. So again, having the _includes_ present in the `params` of the conditional `if:` needs more clarifica

[2020-11-06 18:58] arinhouck commented on #21
@stas I understand data, links or meta must be present. I plan on removing the relationship entirely based on what the frontend client requests via include.

Two things allow me to achieve this:

(a) Access to the serializer tree structure (eg. like include dot notation syntax, relationship_a.team.memberships).
(b) is access to @options (currently we only have access to @params) via conditional pr

[2020-11-06 19:23] stas commented on #21
@arinhouck I encourage you to take a quick read (if you didn't already) on [inclusion of related resources and compound documents](https://jsonapi.org/format/#fetching-includes). Again, `includes` have nothing to do with data representation and these are validated based on the relationship definition/presence. What you're trying to do here might make sense for your application, but that doesn't lo

[2020-11-06 19:28] arinhouck commented on #21
@stas As previously stated, I do understand I can use params. I can accept that as a soltuion. However still my challenge is not knowing which relationship is being serialized (I need context of the path). I cannot achieve this without the API telling me which "team" was serialized (eg. relationship_a.team.memberships vs relationship_b.team.memberships).

I am not asking the library to support my

[2020-11-06 19:42] stas commented on #21
@arinhouck it's pretty simple, there's a spec, it's called JSONAPI and I'm just trying to follow it.

If your goal is to avoid serializing a relationship dataset, that's simply not yet possible until #141 is ready (but feel free to use the available workarounds which do not reflect the goals of this implementation). As for the rest, I'm open to review the current DSL/API of the library, but I see

[2020-11-06 20:08] christophersansone commented on #121
@cazacutudor @stas This is indeed possible today, just FYI, by passing a `Proc` as the `serializer` parameter of the relationship.  The [relationship options documentation](https://github.com/jsonapi-serializer/jsonapi-serializer#customizable-options) states that a Proc is possible here, but there isn't a concrete example to demonstrate how to use it.

[code]

If you need to use a similar method o

[2020-11-11 11:46] GMolini opened #147 "Attributes not included in relationship"
Im not sure if its just the intended behaviour, since I just started using it and I have not seen any examples with what i would like to achieve, but im defining a relationship in my serializer (has_many, and belongs_to, it doesnt matter as they both behave the same), and the data of the relationship wont be serialized.

So lets say I have the following serializers:

[code]

What is happening:
[co

[2020-11-11 13:05] stas commented on #147
@GMolini please review the JSONAPI spec, that's not how relationships work:
https://jsonapi.org/format/#document-resource-object-relationships

What you probably need is:
https://jsonapi.org/format/#document-compound-documents

I'll be closing this, since it's not related to the implementation.

[2020-11-11 13:05] #147 closed

[2020-11-13 10:52] jopotts commented on #144
I agree with @ChrisHampel - we also chose jsonapi-serializer (formerly fast-jsonapi) because it was simple and allowed us to implement the other parts of the stack ourselves. The serialization part is universal, whereas the other parts are normally very particular to the system. So if there's a consolidation, then I'd favour that happening as a new super-gem that uses this as a sub-gem.

Smaller g

[2020-11-13 11:31] stas commented on #144
@jopotts @ChrisHampel notes taken.

Still I'd be happy to hear your thoughts regarding the serialization features (ex. error serializers and deserialization). These were brought up recently and commonly in the `fast_jsonapi`.

[2020-11-17 10:41] mohamed31195 opened #148 "Customize caching namespace"
In my rails application I have `categories` which are classified based on location. I want to cache these categories on serializer level by using jsonapi-serializer's caching method `cache_options store: Rails.cache, namespace: 'jsonapi-serializer', expires_in: 3.hours`. The issue here is that when I call it for the first time to retrieve categories in `City A` for example then later try to retrie

[2020-11-17 18:35] stas commented on #148
@mohamed31195 you could overwrite this method to do your own thing:
https://github.com/jsonapi-serializer/jsonapi-serializer/blob/963cd779009730201d962dee306838593472a8c5/lib/fast_jsonapi/serialization_core.rb#L90-L119

Consider this:
[code]

[2020-11-18 05:16] benlieb opened #149 "This syntax works but is not documented"
I have found the following line of code in our app:

[code]

This as the effect of calling the INSTANCE method credit_card_last_saved, and serializing it properly with the CreditCardSerializer. This is the exact functionality that we need since we don't want actual rails associations for some of the data we want to serialize.

However this syntax does not seem to be documented anywhere. I would lo

[2020-11-18 13:26] stas commented on #149
Thanks @benlieb! Indeed, the docs are not shining when it comes to the consistency of the API, but any of the attribute (which is documented with an example) or relationship definitions do allow passing a block as an alternative way to fetch the value/relationship data.

I'm working on #141 to move the API documentation along with the codebase and let the tools like yard generate the pages. This w

[2020-11-18 18:59] benlieb commented on #135
@stas I'm actually speaking about responses from our rails app to our front end. We're not making the requests using jsonapi, but rather Rails' nested attributes structure. However when any nested object is not yet saved/persisted, the serializers skip it because it has no id. I'm basically shimming in my own "fake" ids before serializing so this won't happen. Then I remove the fake ids on the fro

[2020-11-18 19:42] stas commented on #135
@benlieb consider overwriting this method in your serializer to allow empty IDs:
https://github.com/jsonapi-serializer/jsonapi-serializer/blob/master/lib/fast_jsonapi/serialization_core.rb#L121-L127

I think that should help...

[2020-11-18 19:53] benlieb commented on #135
@stas that's pretty deep into the inner workings of the serializer, and I'd be concerned about unintended side-effects. Could you give me a hint about how you'd suggest I approach this? Would it be just to remove the exception raising and leave the rest the same? Or since it says that "id is a mandatory field in the jsonapi spec" is this where you suggest I assign the temporary id?

Thanks for you

[2020-11-18 19:56] stas commented on #135
JSONAPI spec requires a non-blank value. That's what it takes to respect the spec, so removing the exception is canceling that part and only that...

[2020-11-18 20:04] benlieb commented on #135
@stas in that case, a better approach might be to use this method to assign a temporary id. My code above is complex and probably brittle. If I could get away with something less verbose.

It seems like `record_id` is a configurable method to call on the object to get its `id`. I'm pretty sure I tried to use this initially but if I remember correctly, there were issues getting it to fully work. I

[2020-11-18 20:18] stas commented on #135
It's not common to serialize invalid data. A client sends data, if it's invalid, you get errors, not data :smiley:

[2020-11-18 20:32] benlieb commented on #135
Well I suppose whether it's common is a subjective issue. But what is common for us is to show errors for failing associated objects. This form is a simple example I cannot associate errors with failing objects without shimming the id. The form submits to /people/x with nested email addresses, addresses, phone numbers etc.

![image](https://user-images.githubusercontent.com/634562/99584503-e42fb90

[2020-11-18 20:56] stas commented on #135
@benlieb I don't think discussing the JSONAPI spec is in the scope of this library. I advise you to start a conversation regarding your concerns within the JSONAPI community: https://github.com/json-api/json-api

Thank you for considering this library for your project! :bow:

[2020-11-19 01:19] mohamed31195 commented on #148
@stas Thank you! Seems to work fine

[2020-11-19 12:18] #148 closed

[2020-11-25 05:07] 2009 opened #151 "Namespaced Models"
I'm migrating from `fast_jsonapi` and before relationships with a namespaced model would resolve to a serializer that included the namespace, but now they get ignored.

Given the following serializer:

[code]

If an item had a class `Order::Book` it would resolve to `Serializers::Order::BookSerializer`, but now it resolves to just `Serializers::BookSerializer`.

Was this an intended change? I woul

[2020-11-25 09:41] stas commented on #151
@2009 it is intended and the relevant change was introduced in #32

The reason this change was introduced is because of the inconsistencies between how a relationship serializer would get resolved (your example) and how any other serializer would get resolved (example, relationship name derived serializer). Basically there were two implementations with the same purpose that would yield different r

[2020-11-26 01:56] 2009 commented on #151
Thanks @stas, that makes sense I'll do what you suggest. I also came across some of the inconsistency previously.

I'll look forward to the v3 release. 😄

[2020-11-26 01:56] #151 closed

[2020-12-06 17:58] 0x962 opened #152 "Including ActionView::Helpers in a serializer results in `stack level too deep`."
## Expected Behavior
For a serializer to work as usual even when ActionView::Helpers are included in the class.

## Actual Behavior
Including ActionView::Helpers results in a `stack level too deep` error. This error is not thrown when using a serializer outside of a controller or a request-response cycle. Running `YourSerializer.new(@your_collection, {})` in a rails console for instance will rende

[2020-12-06 18:44] stas commented on #152
@0x962 I'm not sure I'm able to replicate the issue. As you can see below, my serializer uses `ActionView::Helpers` without any issues. Could you provide a backtrace or more helpful information please?

[code]

[2020-12-08 05:32] 0x962 commented on #152
This error does not seem to occur when invoking the serialiser in a rails console or via byebug. I've only been able to reproduce this by putting it in a controller.

[code]

I've uploaded a trace here: https://drive.google.com/file/d/13_ZlQYelBRzkvuDEtD3H9bmFNkSqFwSC/view?usp=sharing

[2020-12-08 09:58] 0x962 commented on #152
Unfortunately, I don't have much else either. I couldn't find any meaningful references in the trace either, except that adding `ActionView::Helpers` causes the problem, removing it fixes things.

I will close this issue now.

[2020-12-08 09:58] #152 closed

[2020-12-08 11:25] stas commented on #152
Please review your serializer methods/attributes, if there's any conflicting method/call, that might be the issue. Try to comment out any of the serializer attribute/relationship definitions and see when it breaks eventually. Sorry for not being able to help much.

[2020-12-12 04:29] rromanchuk commented on #53
I think i'm overthinking this, but is there a way to pass an array of vendored  POROs to `has_many`  and intercept with a proc like `-> {|record| record.collection.map(&:id) }`. Basically i'm trying to avoid additional wrapping or injection for instance i don't own

[2020-12-12 21:13] christophersansone commented on #53
@rromanchuk As long as the relationship method is array-like (specifically implements `map`), and you are including the relationship, then it will just work.  If you're not including the relationship, I believe you need to specify how to get the objects currently, e.g. `has_many(:authors) { |o| o.authors }`.

There is plenty of discussion to improve that (here, #141, #45), but the main reason is t

[2020-12-24 05:07] aximuseng opened #157 "URL Helpers?"
Is it possible to access the url helpers?

I tried:

[code]
I am trying to do something like this:

[code]

where `api_v1_movies_url` is an example named route I have for my API that this run under.

I get these errors:  `undefined method 'api_v1_movies_url' for MovieSerializer:Class`

There are other issues that seem to indicate you can do this - wondering if I am missing something minor here.  I

[2020-12-25 18:08] doits commented on #157
You can include [Rails.application.routes.url_helpers](https://api.rubyonrails.org/v6.0.0/classes/ActionDispatch/Routing/UrlFor.html#module-ActionDispatch::Routing::UrlFor-label-URL+generation+for+named+routes). Since everything is evaluated on class level, you must include it into the class or singleton class:

[code]

[2020-12-26 22:40] rmlockerd opened #158 "Proc shortcuts do not work with Ruby 3.0"
## Expected Behavior
When 'aliasing' an attribute to a different name, you can pass the original as a proc shortcut, like so:

[code]

## Actual Behavior
Using Ruby 3.0.0, however, this results in the following error:
[code]
This appears to be caused by a change (or bug) in the way the parameters for Proc created by `Symbol.to_proc` are defined.
In Ruby 3.0, the length of the parameters array retu

[2020-12-26 23:28] aximuseng commented on #152
I ran into the exact same issue (related to issue #157) once I added the `includes`. It turns out that the issue was in reality Devise - my authentication had expired.  I had not excluded devise in my base API controller:

`skip_before_action :authenticate_user!`

Once I did this the stack depth errors went away.  I also realized that my key based API would have been use useless as it would have o

[2020-12-26 23:40] aximuseng commented on #157
That did the trick - thanks.

[2020-12-26 23:40] #157 closed

[2020-12-27 02:23] aximuseng opened #159 "Meta attribute for the collection size?"
In this example:

[code]

How would you add a meta attribute for the number os movies returned from the controller?

[2020-12-27 12:21] 0x962 commented on #152
Ah well, that's interesting, but in my case my API was open and did not use authentication at all.

[2020-12-28 08:57] stas commented on #152
Happy to know it was figured out :bow:

[2020-12-28 08:59] stas commented on #159
Hey @aximuseng,
please take a look at this section in the documentation:
https://github.com/jsonapi-serializer/jsonapi-serializer#compound-document

[2020-12-28 18:22] aximuseng commented on #159
Perfect - I missed that on the my first few passes of the docs - clearly was not obvious to me.  Thanks.

[2020-12-28 18:22] #159 closed

[2020-12-29 23:33] davidwparker commented on #158
Nice @rmlockerd - just had this one.

For others' Googling and getting here, the obvious temporary solution is to convert to a non-proc:

[code]

[2020-12-30 00:43] aximuseng opened #161 "Set a custom ID in relationships"
## Expected Behavior

I have a custom ID scheme for my data (trying to hide the 1,2,3... etc)

From the docs:

[code]
and the output that I am looking for:

[code]

## Actual Behavior

Except I get:

[code]

where the relationship ID always revert to the DB id value.  If I call the `ActorSerializer` it works fine.

Can I even do this?

[2020-12-30 13:44] stas commented on #161
@aximuseng please take a look at the customizable options:
https://github.com/jsonapi-serializer/jsonapi-serializer#customizable-options

Specifically, you could provide a callable to the `id_method_name` on relationships to customize the ID's from relationships!

[2020-12-30 17:14] aximuseng commented on #161
I actually tried that and based on the results I figured this was not what it was intended for.  I tried something like this:

[code]

and results in this:

[code]

The custom id for the parent is set for the child records.

[2020-12-30 19:35] aximuseng opened #162 "Relationship links documentation is unclear"
## Expected Behavior

I am trying to follow the 'Links on a Relationship' documentation:

https://github.com/jsonapi-serializer/jsonapi-serializer#links-on-a-relationship

[code]

Is the intent here that I have to make a `url` method in the `actor` model?  Does this not seem to break the MVC system by generating url links in the model vs the controller?

## Actual Behavior

The expected behaviour

[2020-12-30 20:18] #162 closed

[2020-12-31 00:24] TruRooms opened #163 "SubclassNotFound when using an STI model as the owner."
## Expected Behavior
When using a serializer to to serialize a polymorphic relationship, the application is able to output an attribute for the related record.

Example:

With the below class structure:

[code]

[code]
"#<ActiveRecord::SubclassNotFound: Invalid single-table inheritance type: User::Admin is not a subclass of User>"
``

## Workarounds

### 1
**IF** the field `owner_type` is set to b

[2020-12-31 16:24] TruRooms commented on #163
Added example app that reproduces the issue.

[https://github.com/TruRooms/serializer_test](https://github.com/TruRooms/serializer_test)

I wrote a basic spec to try and illustrate, but specs pass. Live testing still triggers the error.

[2021-01-03 21:02] aximuseng commented on #161
It seems to work - in my case I accidentally called the id method on a model that the method doesn't exist.  When you do that it seems that it is then called on the parent.

[2021-01-05 09:27] stas commented on #161
Cool, I'm glad it worked. I'll be closing this for now. :raised_hands:

[2021-01-05 09:27] #161 closed

[2021-01-05 10:12] stas commented on #163
@TruRooms there are a couple of typos in your example, which I'll skip, but this exact part is what's causing you the issue:

[code]

Basically, you're creating an `User::Admin`, but you're trying to assign it to the activity as an `User`.

Instead I'd advise you to use the Rails API to get the job done, consider the same example:
[code]

This way Rails will take care of the `owner_type` and `type

[2021-01-05 10:12] #163 closed

[2021-01-05 17:00] prathe opened #164 "DSL may honor primary data constraints in a compound document."
Hello there!

I enjoy the gem so far, but I can't figure out how to honor this part of the spec:

Which boils down to:

1. Not producing `attributes` and `relationships` in the resource object.
2. Be still able to include comments and authors

Has this been already discussed? To what what extent this gem should help a user still declare attributes and relationships with the distinction that

1. pr

[2021-01-05 17:08] stas commented on #164
@prathe I believe there's a bit of confusion when it comes to what's the scope of this gem. In your example, you're talking about the way JSONAPI suggests the layout of the REST API endpoints to be. Where the scope of this library is to solve just one aspect of the JSONAPI: serialization of the data.

I believe it's up to everyone to decide how the endpoints should look like (I personally find the

[2021-01-05 23:48] prathe commented on #164
Yes. But is it exactly what is going on here?

Relationship can be represented in a document structure as a valid application/vnd.api+json representation. Even if the emphasis is not put on it, by definition, if an endpoint exist on a relationship it is a subresource of a containing resource regardless of URLs aspect. It is just its nature, unseparable from the containing resource, and it fits lik

[2021-01-06 09:32] stas commented on #164
@prathe I'm still not sure I fully understand what would be the goal of this task.

To me, relationships are collections of objects, and this library can already serialize a collection of homogeneous objects. It's up to the user to decide what's the best way to _implement_ it though.

[2021-01-06 15:38] prathe commented on #164
I guess you mean a collection or a single object. Anyway I can see the mental model you have of a relationship. You seem to see the a relationship for where it is pointing to (the objects) and do not see a relationship for what it is. It would be like taking the name of a person for the person herself. I saw many times some developers confused about the difference between the `self` and `related`

[2021-01-07 20:09] aguynamedben commented on #45
+1 to this

I'm new to jsonapi-serializer, and it took a while to get this right...

[code]

My relationship in ActiveRecord
[code]

[2021-01-13 05:28] aximuseng commented on #161
Hmmm... not sure what's going on here.  Back to the old behavior.  Can this get opened again?

Again is the idea here that `Actor.last.my_id_method` results in in `ABC123` etc. OR is it `Movie.my_id_method` returns an array of the ID's to use in the relationship result?

[2021-01-13 23:26] ziggythehamster commented on #158
Just adding a reference, this would be fixed by #160 from what I can tell.

[2021-01-13 23:38] ziggythehamster commented on #144
I'm with the above users. We actually are going to be using `jsonapi.rb`, but with many things bypassed/overridden due to backcompat with our previous in-house JSON:API support and preferences (e.g., I always want to render pagination links, if pagination is possible, even if the field is null because there's no page prev/next, to be explicit, even though that's not required). I would prefer havin

[2021-01-15 06:04] aximuseng commented on #161
@stas can you re-visit this?

There seems to be a disconnect:

[code]
When you have a `has_many` etc. the method needs to be called on the individual record NOT the parent object.

[2021-01-19 12:16] stas commented on #161
@aximuseng I'm not sure where's the confusing part, the example you shared seems to work just fine. The documentation states as expected:

https://github.com/jsonapi-serializer/jsonapi-serializer#customizable-options

[2021-01-25 22:10] pedrofurtado opened #166 "How do I disable cache?"
How do I disable cache?

Using `cache_options enabled: false` emits a deprecation warning. So, what is the way to disable entirely the cache? 🤝

Thanks!

[2021-01-26 09:53] stas commented on #166
@pedrofurtado do not define the `cache_options` inside your serializer.

The way we have it, is two base classes (eg. `BaseSerializer` and `CachedSerializer < BaseSerializer`, where the last has the `cache_options` defined.

The rest of the serializers inherit from either the first one or the later.

Let me know if this helped. :bow:

[2021-01-26 10:54] ABraconnier opened #167 "Remove relationships key when having included top-level key"
## Expected Behavior
[code]

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1.
[code]
  2.
[code]
  3.
[code]

## Specifications

  - Version: 2.1.0
  - Ruby version: 6.0.3

Hello! I'd like my API to return some included associations, but in order to have the `include` option to work, I need to have the `has_many` association on the serializer. Problem is that, with this associati

[2021-01-26 11:14] pedrofurtado commented on #166
@stas Thanks for feedback!

So, we have two options, right?

1. Not define `cache_options` inside my serializer class.
2. Define `cache_options store: nil`

The option 2 is valid? I saw in code that passing nil, they also ignore cache 👍

[2021-01-26 12:02] stas commented on #166
@pedrofurtado if it works, then why not

[2021-01-26 12:04] pedrofurtado commented on #166
Thanks a lot @stas ! 🤝

[2021-01-26 12:04] #166 closed

[2021-01-26 12:45] stas commented on #167
Hey @ABraconnier,
this is weird, since we have a test for that and it should all be working:
https://github.com/jsonapi-serializer/jsonapi-serializer/blob/master/spec/integration/relationships_spec.rb#L69-L83

Are you sure you don't have anything custom?

[2021-01-27 07:52] ABraconnier commented on #167
Hello! no, nothing custom... Is your spec checking there is no `relationship` key?

I can copy paste you the exact code and the schema, if that can help...

[code]

[code]

[code]

What I get:
[code]
I'd like to not have the `relationships: {}`...
My schema:
[code]

[2021-02-02 22:26] jjercx commented on #34
This should be on the readme

[2021-02-09 16:21] SafeAF opened #168 "NameError (uninitialized constant <Model>Serializer)"
## Steps to Reproduce the Problem

  1.gem 'jsonapi-serializer'
  2. bundle install
  3. rails g serializer Account site_url username site_name account_home_url slug
  4. rails console
  a = Account.first
   (0.8ms)  SELECT sqlite_version(*)
  Account Load (0.1ms)  SELECT "accounts".* FROM "accounts" ORDER BY "accounts"."id" ASC LIMIT ?  [["LIMIT", 1]]
 => #<Account id: 1, user_id: 1, site_url: "f

[2021-02-09 16:41] stas commented on #168
@SafeAF could you please confirm you're running the #141 ?

If so, please confirm you have configured rails to pick up the serializers from `app/serializers`.

---

[2021-02-09 17:02] SafeAF commented on #168
config.autoload_paths << 'app/serializers'

worked for me. thank you. i didn't see it in the docs. and ive not used serializers in rails before.

[2021-02-09 17:02] #168 closed

[2021-02-09 18:14] stas commented on #168
All good, glad it worked out. Please leave any feedback, I'll be happy to look into it! :bow:

[2021-02-10 11:31] kapso opened #169 "Allow caching to be conditional based on params"
I only want the object to be cached based on a variable in `params`. I imagine this is a common requirement.

So the use case is sometimes we return a "lite" version of the object vs. a "full" version of the object, and the object should only cached when returning a "full" version.

[2021-02-10 19:56] stas commented on #169
Hey @kapso

Would you be kind to review this comment if it works for you?
https://github.com/jsonapi-serializer/jsonapi-serializer/issues/148#issuecomment-729121595

[2021-02-10 19:57] stas commented on #34
Thanks @jjercx

I think a lot of this should be covered in #141 already.
If you get a chance to review the PR, I appreciate any feedback! :bow:

[2021-02-10 21:23] kapso commented on #169
@stas thanks will give it a look

[2021-02-10 21:32] kapso opened #170 "Migrating from Netflix/fast_jsonapi"
I followed these steps for migration (https://github.com/jsonapi-serializer/jsonapi-serializer#migrating-from-netflixfast_jsonapi) and the app works fine, deployed it on our staging, and all good.

But the interesting thing is, that our tests (RSpec) are failing with this error - `TypeError: no implicit conversion of nil into Hash`

[code]

If I remove `include: includes,`, then the error goes awa

[2021-02-10 21:54] stas commented on #170
@kapso do you have a backtrace you can share please :pray:

[2021-02-11 06:02] kapso commented on #170
@stas That's the strange part, there's no backtrace.

[2021-02-11 09:07] kapso commented on #170
@stas found the issue. Following up on this issue - https://github.com/jsonapi-serializer/jsonapi-serializer/issues/169

[code]

I am guessing I need to return an empty hash to stop the caching?

[2021-02-11 10:27] kapso opened #171 "Support for sparse-fieldsets when using a polymorphic relationship"
So given the following serializer, where `worker` can be of type `EmployeeSerializer` or `ContractorSerializer`, how does sparse fieldset work when selecting different fields for `Employee` and `Contractor`?

[code]

[2021-02-11 11:07] stas commented on #170
@kapso I'm not sure I follow. Are you asking about caching or about the exception here?

As for `record_cache_options` please follow the docs, it's all documented:
https://github.com/jsonapi-serializer/jsonapi-serializer/blob/master/lib/fast_jsonapi/serialization_core.rb#L90-L102

[2021-02-11 16:21] kapso commented on #170
@stas the exception is resolved, so I am good. I will address the other issue here - #169

Thanks.

[2021-02-11 16:21] #170 closed

[2021-02-11 16:25] kapso commented on #169
@stas Judging from the comments on the method -  `Cache options helper. Use it to adapt cache keys/rules.`

...it looks like the method can be used to change the cache options, but it cannot be used to make caching conditional.

[2021-02-14 22:06] stas commented on #171
@kapso if a field is not available/restricted, JSONAPI spec suggests it will silently be ignored from the request.

TL;DR, you can require any field, but only available ones will be included in the response. Please let us know if that's not the case and there's some error. :see_no_evil:

[2021-02-14 22:08] stas commented on #167
@ABraconnier sorry, I'll extend the test-case. If you find some free time and want to submit a PR, I'll be happy to review it (should also speed the things up a bit). Thank you!

[2021-02-14 22:11] stas commented on #45
This is now handled in #141

The `id_method_name` stays, but it will be used consistently in the relationships. This way there's no other way to define a method name to fetch the ID. The `ids_method_name` is available to define the method for IDs for relationships.

[2021-02-15 14:07] kapso commented on #171
@stas

Actually, this works - `fields: { employee: [:id, :name], contractor: [:id, :name, :contract_duration] }`

I was thinking, this will work - `fields: { worker: [:id, :name, :contract_duration] }`

[2021-02-15 15:52] stas commented on #171
Glad you figured it out @kapso :bow:

[2021-02-22 14:31] kapso opened #172 "Why do relationship ids get included by default"
Relationship `id`'s get included in the json response even though the `has_many` relationship is not manifested in `include:` list, why?

[2021-02-22 20:30] stas commented on #172
@kapso please take a look at the spec:
https://jsonapi.org/format/#document-resource-object-relationships

I'll be closing this for now. Thanks! :hugs:

[2021-02-22 20:30] #172 closed

[2021-02-24 04:19] davideluque commented on #131
How did you solve this? I am having the same issue

[2021-02-24 04:29] davideluque commented on #131
#157

[2021-02-24 09:47] janmistarz commented on #131
Yeah, i did, i figured that i had a bug in my code

[code]
  thats how i went about it. it works I believe there might be a more elegant solution, but i went with that

[2021-02-25 06:39] kapso commented on #172
@stas but that rule is broken if I have something like this, right?

`has_many :products, if: ->(_record, params) { params[:order_products] }`

So I am guessing the default behavior is to follow the rule, unless the developer wants to break it?

[2021-02-25 09:45] johannesluedke commented on #158
It would be nice to see this merged on v2.x -- would make lives easier for everyone upgrading to Ruby 3 in the next time

[2021-02-25 10:56] stas commented on #172
@kapso would you be kind to share an example or a test-case to reproduce this. I'm not sure what's the logic behind your implementation :flushed:

[2021-02-25 10:57] stas commented on #158
I'll prepare a release. Thank you everyone!

[2021-02-25 19:50] kapso commented on #172
@stas So here's an example of a serializer...

[code]

When I do `render json: OrderSerializer.new(@order)`, relationship product `id`'s get included even though I did not use `include: [:products]`

[2021-02-26 10:59] stas commented on #172
This is part of the specification which I linked for you earlier. The JSONAPI relationship **SHOULD ALWAYS** include either `data`, `links` or `meta`. This is independent from `include`. Please give it a quick read, I think it will make sense :relaxed:

[2021-03-09 17:28] kapso commented on #158
@stas Any timeline for releasing this?

Thanks.

[2021-03-11 17:06] williantenfen opened #173 "Bump version"
I know version 3 is under development, but there's an important PR merged after the last bump for version 2.
Shouldn't a new version or patch be available after PR: https://github.com/jsonapi-serializer/jsonapi-serializer/pull/125 ?

For now I'll use from master branch.. thanks...

[2021-03-11 18:29] #158 closed

[2021-03-11 18:38] stas commented on #173
Closed in 3723505

Apologies for the delay :see_no_evil: :bow:

[2021-03-11 18:38] #173 closed

[2021-03-11 18:39] stas commented on #158
Apologies for a bit of delay with this one :see_no_evil: :bow:

Also thank you for pushing me :heart:

[2021-03-15 17:23] davideluque commented on #131
Thanks! I found this solution somewhere:

[code]

[2021-03-23 05:10] KelseyDH opened #175 "Way to resolve correct serializer for a model? E.g. this gem's equivalent to: ActiveModelSerializers::SerializableResource.new(record).as_json"
## Expected Behavior
I am looking at migrating a project using ActiveModelSerializers following the JSON API spec over to this gem, and I'm searching for a generic way for this gem to resolve the correct serializer for a given ActiveRecord model.  This is because the existing base controllers use this approach to find the correct serializer.  I couldn't find anything in the documentation describin

[2021-03-23 23:16] benlieb opened #176 "How can I include associations in an attribute collection?"
In my Reservation serializer I have a collection of computed reservations in an array, `some_other_reservations`. To be clear this is NOT an association, but a computed array of `Reservation` objects.

I also have a transfer association that is also a reservation.

[code]

When I serialize this, the reservations in `some_other_reservations` don't have the `transfer` included. As far as I know, the

[2021-03-24 07:20] Drenmi opened #177 "Feature request: shorthand conditional"
### Background

Many of the conditionals we use for attributes, links, etc. simply call a single method on the record itself. It would be nice to have a shorthand syntax (proposed below) for this. It is especially true for Rails associations where the presence of an associated record can be checked with a predicate, like `#foo_id?`.

### Current syntax

[code]

### Proposed shorthand

[code]

## S

[2021-04-03 17:42] stas commented on #177
Thanks @Drenmi!

Feel free to send PRs and I'll be happy to review them! In the meantime, #102 might be very relevant :)

[2021-04-03 17:43] stas commented on #175
Hehe, @KelseyDH you might be interested in https://github.com/stas/jsonapi.rb

In the meantime, the version 3.0 is something worth taking an early look at too: #141

[2021-04-03 17:46] stas commented on #176
@benlieb I'm afraid that's not how JSON:API spec works.

Please consider taking a look at the compound documents spec:
https://jsonapi.org/format/#document-compound-documents

Basically, you can arbitrary include any relationship by nesting it, eg: `/?include=reservations.transfer.transfer_reservations` ...
https://jsonapi.org/format/#document-compound-documents

I'll be closing this, since I don'

[2021-04-03 17:46] #176 closed

[2021-04-03 17:47] #171 closed

[2021-04-03 17:48] stas commented on #169
@kapso I'll be closing this, but do feel free to continue the conversation if you find it helpful :bow:

[2021-04-03 17:48] #169 closed

[2021-04-03 20:28] benlieb commented on #176
For posterity, this is what I ended up using:

[code]

[2021-04-03 20:30] benlieb commented on #47
For posterity, this is what I ended up using:

[code]

[2021-04-04 14:24] AskBid opened #179 "Custom Foreign_Key"
I have a database that I cannot modify as it is a read-only populated from a node I don't control.

This causes the tables to have `foreign_keys` that are different from the Rails default way.
You can see the current situation in the models below:

[code]

I use a serializer in the relative controller:

[code]

It seems though that when I try to tell the `JSONAPI::Serializer` to be aware of the di

[2021-04-05 10:15] stas commented on #179
Thanks @AskBid

Could you play a bit with the available options you can find here:
https://github.com/jsonapi-serializer/jsonapi-serializer#customizable-options

Particularly the `id_method_name` and `object_method_name` could work.
:pray:

[2021-04-05 21:02] AskBid commented on #179
Thanks, I've tried with `id_method_name` it looked ok, but then noticed that the relationship object was returning an empty object (no attributes) even though something is supposed to be there.
[code]
So I thought it was meant for something else.

[2021-04-08 19:35] benlieb opened #180 "What is the correct way to nest sparse fields: {} ?"
I'm trying to figure out how to choose sparse fields for a main resource and an associated resource. I have tried this in the following ways, and none of them work.

## Nesting the `departure` inside the same array

[code]
As seen in here, there are two problems. 1) The `relationships` key is empty, and 2) the attributes of `departure` are not limited:
![image](https://user-images.githubuserconten

[2021-04-09 12:02] AskBid commented on #179
`id_method_name` worked out well, I was just forgetting to include the associated model:
[code]

[2021-04-09 12:02] #179 closed

[2021-04-09 12:03] AskBid commented on #179
`id_method_name` is the solution, attributes were not appearing because I wasn't calling `include:` when instantiating the Serializer.

[2021-04-12 10:58] stas commented on #180
Hi there @benlieb

Would you be kind to test the examples by using the core API methods, I'm not sure what `serializable_hash_of_key_type` method does.

Generally speaking, you should not nest the `fields` options, please take a look at the spec:
https://jsonapi.org/format/#fetching-sparse-fieldsets

[2021-04-19 05:20] exocode opened #182 "How to rename a key"
## How can I do a renaming of an attribute name?

## Expected Behavior

[code]
MySerializer.new(my_model)
`# -> "new" => [1,2,3]`
## Actual Behavior
`# -> "old" => [1,2,3]`

[2021-04-20 19:04] jamesdixon opened #183 "Combining models of different types in a collection"
Hi there,

Is there a preferred method to combine multiple models of different types in a collection?

I have two models, `Inspection` and `Event`, and need to return those as a single collection. I was expecting that when calling `render jsonapi: models`, that it would automatically pick the proper serializer based on the type of the model but it blows up.

Currently, I'm manually handling the pr

[2021-04-21 07:19] ABraconnier commented on #167
Hello! Sorry, this has been a long time but I was busy! Will try to find some time to submit something 👍

[2021-04-21 11:01] stas commented on #182
Hi there @exocode

Please take a look at the `attribute` API call. Basically, you can pass a block to it to call your _new_ method preserving the old key:
https://github.com/jsonapi-serializer/jsonapi-serializer/blob/master/spec/fixtures/movie.rb#L53-L55

[2021-04-21 11:01] #182 closed

[2021-04-21 11:03] stas commented on #183
Thanks @jamesdixon

I believe what you're describing is #121
Unfortunately, this will be available only after #141 is merged.

[2021-04-21 11:03] stas commented on #183
Duplicate of #121

[2021-04-21 11:03] #183 closed

[2021-04-29 20:02] phlegx commented on #31
Hi! I can solve my issue like described by @christophersansone, thanks for that.

**BUT**, be able to set `set_type` to a relationship can help to reduce a lot of code. Instead of declare multiple serializer classes that inherits from one serializer and sets different types like @christophersansone shows, all this relationships can be serialized simply with:

[code]

Could this be a useful feature

[2021-04-29 20:40] phlegx opened #184 "Feature set_type option per relationship."
## Expected Behavior

I want to code relationships and set different type (with `set_type`) per relationship.

[code]

## Actual Behavior

I need to declare different serializer classes per type to get what I want.

[code]

## Steps to Reproduce the Problem

Be able to set `set_type` to a relationship can help to reduce code lines. Instead of declare multiple serializer classes that inherits from

[2021-04-30 08:33] phlegx opened #185 "Inherited class overwrites record_type of subclass."
## Expected Behavior

[code]

Serialize the attribute `test` with `StudentSerializer` should return `student` because `set_type` in `StudentSerializer` is set to `:student`.

## Actual Behavior

Serialize the attribute `test` with `StudentSerializer` return `account` instead or `student`.

## Specifications

  - Version: 2.2.0
  - Ruby version: 2.7.x

[2021-05-04 18:58] gastoncusimano opened #186 "[Help] Passing params through serializers"
Hi! I'm migrating from ams and I have a controller where I serialize a collection and inside its serializer I wanted to one by one serialize another object(relation). I'm trying to pass params like it is described on the readme but I cannot make it work.

### My Controller
[code]

### Serializer1
[code]

### Serializer2
[code]

And if I wanted to filter by the object (applicant) that I sent throug

[2021-05-13 00:08] grantpaulson6 opened #187 "Single Record of type Struct doesn't work"
## Expected Behavior
When serializing a single record of type Struct, it can still serialize properly.

## Actual Behavior
An error is likely thrown; the struct is deconstructed into an array of its values when trying to serialize, instead of preserving its key/value pairing. The error arises from downstream serialization.

## Steps to Reproduce the Problem

  1. Try to serialize a single record o

[2021-05-13 16:10] stas commented on #187
@grantpaulson6 would you be kind to provide an example or something we could use to replicate this? If you have some time, a PR with a test case would definitely speed up the things !!!

Thank you! :bow:

[2021-05-13 16:19] stas commented on #177
Thanks for raising this, though I'm afraid there's a bit more to discuss here. Please take a look at my previous attempts to get something like this out:
https://github.com/jsonapi-serializer/jsonapi-serializer/pull/102#issuecomment-689255768

Let me know what are your thoughts :bow:

[2021-05-13 16:22] stas commented on #186
Hey @gastoncusimano

I'm afraid this doesn't work like that. The serializers pass over the `params` to any _child_ serializers (eg. relationships, includes and such).

To get your params available in the underlying serializers, just pass them to the main serializer. Consider this:
[code]

Let me know if it worked. :bow:

[2021-05-13 16:26] stas commented on #185
Hmm, this might be related to #113

The good news is that this should be covered by #141 if you care to give it a look :see_no_evil:

[2021-05-13 16:44] stas commented on #184
@phlegx thank you for raising this, but I don't think that's something I want to introduce in the nearest future.

The reason for that is mainly because we want every serializer to represent the logic, type and generally act like the single source of truthiness when it comes to data it is supposed to serialize. I know at the moment this requires a couple of extra lines of code, but I think it's mu

[2021-05-14 03:05] Drenmi commented on #177
get something like this out: #102 (comment)

Actually my suggestion is different, in that the method (referenced by name through the symbol) would be invoked on the object being serialized, not on an instance (or class) of the serializer. 🙂

So my suggestion is directly at odds with what's requested in #102.

[2021-05-14 09:50] stas commented on #177
Oh, I think we have that already in #141 if you're willing to give it a shot :pray:  :see_no_evil:

[2021-05-17 15:58] grantpaulson6 commented on #187
Yep I'll make a PR with a test case 👌🏻

[2021-05-20 12:19] scottrobertson opened #189 "Can't use `return` in an `attribute`"
Tried searching for this, but I cannot find anything. Sorry if it's been discussed already.

Is there a reason why `return` is not allowed in a custom attribute? It makes the code so much messier without being able to use that. For example, I want to write:

[code]

But that results in:

`LocalJumpError (unexpected return):`

Instead, you have to write something like:

[code]

Which is obviously f

[2021-05-20 21:28] stas commented on #189
@scottrobertson I believe this is what you're looking for:
https://stackoverflow.com/questions/2518075/how-can-i-return-something-early-from-a-block

For a bit more context, `attribute` DSL basically creates a block that is being called by the serializer. This is why using a `return` statement causes a syntax error.

I hope this helps. I'll be closing the ticket, but feel free to continue the conv

[2021-05-20 21:28] #189 closed

[2021-05-20 21:33] scottrobertson commented on #189
Thank you.

It may be worth documenting this somewhere, as from a users point of view, it feels very odd to have to use `break/next` here, especially when coming from Active Model Serializers.

[2021-05-20 21:39] stas commented on #189
@scottrobertson as I already mentioned, this is pure Ruby syntax. It really doesn't have anything to do with AMS vs this gem. I appreciate the feedback, but it's simply out of our scope to document how Ruby works :hugs:

[2021-05-27 12:26] holdenhinkle opened #190 "We're not using ids to identify records. Is it possible to configure jsonapi-serializer to use another identifying attribute?"
Hi there!

We're not using ids to identify records. We're using `slug` or another attribute.

Is it possible to set the identifying attribute for a record within each serializer and not include its id? Or is including `id` part the of specification?

Thank you!

[2021-05-27 12:38] holdenhinkle commented on #190
I just read [part of the specification ](https://jsonapi.org/format/#document-resource-object-identification)and see that

I would love to be able to set the value of `id` to the value of another attribute, like `slug` for example:

[code]

[2021-05-31 12:09] stas commented on #190
@holdenhinkle please take a look at the API of the `set_id` method:
https://github.com/jsonapi-serializer/jsonapi-serializer#customizable-options

I believe that's what you're looking for. Please feel free to leave an update, though I'll be closing this ticket.

[2021-05-31 12:09] #190 closed

[2021-06-02 12:50] skelz0r commented on #113
FYI a workaround for this issue:

[code]

[2021-06-04 16:48] kitsuneyo commented on #119
Hi @trlorenz

I've run into this issue too.

The latter doesn't work for me - did you have to do anything special to get it working?

[2021-06-06 17:06] trlorenz commented on #119
Ugh, sorry... I wish I could remember the details. It was just a little too long ago.

I do remember getting set_key_transform working as the docs described, after letting go of my bad assumptions. And I remember then realizing it wasn't going to work for me anyway.

I did finally get everything working how I wanted -- I wanted the front end to speak camel and the back end to speak snake, coming a

[2021-06-06 19:42] kitsuneyo commented on #119
@trlorenz It's helpful enough that you confirmed there's no complete solution using `set_key_transform`, so thank you! I've decided to use snake_case across my API, since it's easier to modify my front-ends to work with that than to get camelCase working here.

Just to clarify, `set_key_transform` did work out of the box with `fields` queries, just the way you described above. I had simply broken

[2021-06-07 14:59] alecvn opened #191 "Possible to make this gem the default json serializer for a Rails project?"
[ActiveModelSerializers](https://github.com/rails-api/active_model_serializers) allows one to set it as the default Rails json serializer.

Is it possible to do so with this gem?

[2021-06-07 15:10] stas commented on #191
@alecvn would you be kind to link to some doc/readme about what does it mean?

[2021-06-07 18:38] alecvn commented on #191
They use adapters (I believe) to delegate the `to_json` method to their library's implementation.  Some info [here](https://github.com/rails-api/active_model_serializers/tree/0-10-stable#about):

[2021-06-07 18:46] stas commented on #191
@alecvn is this something you are looking for?
https://github.com/jsonapi-serializer/jsonapi-serializer/blob/master/docs/json_serialization.md

Alternatively, consider using the https://github.com/stas/jsonapi.rb

[2021-06-07 21:33] alecvn commented on #191
Perhaps [this](https://github.com/rails-api/active_model_serializers/tree/0-10-stable#activemodelserializer) will explain what I mean better:

Basically it "transforms" resources (such as ActiveRecord instances), meaning you never have to call the serializer explicitly.

An example benefit of that is that any gems you're already using (like in my case, Devise) use it out of the box without me need

[2021-06-07 21:54] stas commented on #191
@alecvn reading this I think `jsonapi.rb` is what we are talking about here. Still, If you don't want to change the `render :jsonapi` calls, feel free to remap the renderer in your application to use `:jsonapi` instead.

I think something like this in an initializer should do the job:
[code]

[2021-06-08 00:09] bradherman commented on #138
@stas sorry for the delay... closing

[2021-06-08 00:09] #138 closed

[2021-06-26 15:24] julian-linux opened #194 "Eager Loading on HABTM relationships"
Hi! i'm new on this library and have this problem.
## Expected Behavior
1 query joinning models

## Actual Behavior
n+1 queries

## Steps to Reproduce the Problem

![image](https://user-images.githubusercontent.com/10285069/123517762-6edf4180-d668-11eb-87f4-0c707fceaa12.png)

![image](https://user-images.githubusercontent.com/10285069/123517774-7dc5f400-d668-11eb-831a-9efe461698cd.png)

![image](h

[2021-06-26 15:26] #194 closed

[2021-07-20 14:06] MarcelEeken commented on #172
Hey @stas , I'm also interested in this issue, because I don't always want the relationship to include all the ids when I'm not also including them.

Since the spec specifies that either `data`, `links` or `meta` needs to be present. Is it possible or okay to allow for an option to specify that instead of adding a list of ids, a link is added with the route to fetch the related resources. For that

[2021-07-20 15:04] stas opened #197 "API to select relationships serialization"
## Actual Behavior

This was brought up in https://github.com/jsonapi-serializer/jsonapi-serializer/issues/172#issuecomment-883422737

The JSONAPI relationship SHOULD ALWAYS include either `data`, `links` or `meta`. At the moment, there's no way to tell the serializer which serialization will be applied on a relationship, it just defaults to `data` and anything else get's included on top of it.

#

[2021-07-20 15:04] stas commented on #172
Hey @MarcelEeken I opened a new issue related to your question, let's move the conversation into #197

[2021-07-29 21:34] ekampp commented on #144
Also, jsonapi.rb doesn't really have great support for databases that don't have full support for ActiveRecord.

I used it on a major project that used Neo4j, and we had a lot of problems with it, and we ended up having to duck type a lot of jsonapi.rb's code, as well as selectively only load specific parts.

I have used this gem (and its predecessor) for many years, and I have been delighted with

[2021-07-29 21:36] #111 closed

[2021-07-29 22:00] ekampp opened #198 "`cache_options` causes SystemStackError error"
## Expected Behavior

When using `cache_options`, it should not raise an exception.

## Actual Behavior

It raises a `SystemStackError`.

## Steps to Reproduce the Problem

I have created a [totally standard Rails API](https://github.com/ekampp/jsonapi-serializer-stacklevel-app) (`rails new --api`), where the problem doesn't happen.

I have also created [one using mongoid](https://github.com/ekamp

[2021-07-29 22:18] ekampp commented on #198
Update: It seems like [serialization_core.rb#71](https://github.com/jsonapi-serializer/jsonapi-serializer/blob/master/lib/fast_jsonapi/serialization_core.rb#L71) is the offensive like.

This is most likely because Mongoid doesn't use primitives (String or Integers) as primary keys, but uses `BSON::Object.new`

Applying this diff solves the bug.

[code]

[2021-07-29 22:29] ekampp commented on #198
It seems to be a problem with Mongoid. Specifically that Rails expects a `cache_version` method, [which Mongoid doesn't supply](https://jira.mongodb.org/browse/MONGOID-4680).

Adding this code to your Rails application will solve the above problem:

[code]

[2021-07-29 22:29] #198 closed

[2021-07-29 23:47] huarmenta opened #199 "has_many association with Apartment gem"
Hi everyone, I'm using Apartment with PostgeSQL schemas for multi-tenancy and I need to return a has_many relation from a block, but the catch is that this relations belong to a  record inside a schema (tenant) and it looks like the current behavior is returning an empty object in the include section of my serializer.

## Expected Behavior
[code]
I need to return the object movies related to that

[2021-08-02 13:41] stas commented on #144
@ekampp would be great if you could share the issues you encountered with Neo4j, or not only :bow:

As for the merge, again, the question is more about whether there are parts that are worth being merged due to the previous community requests:
https://github.com/Netflix/fast_jsonapi/issues

Thanks again for your feedback!

[2021-08-02 14:05] ekampp commented on #144
Hi, @stas, thanks for inquiring about that.

The main problem is that neo4j doesn't use tables. So all the parts about table prefixing had to be overridden.

Because the field selector is also different, we had to override a large part of jsonapi.rb's implementation of Ransack. This means overriding sections relating to both filtering, sorting, and sparse fieldsets.

I can totally understand why p

[2021-08-02 14:26] stas commented on #144
Hmm, the reason `jsonapi.rb` is composed of modules, is exactly for this reason. If you're ok sharing your work for Neo4j on `JSONAPI::Filtering`, I'll be happy to look into merging it!

As for _magic bullet_, that's not the goal, I can totally take the responsibility for that!

Tbh, my main desire would be to have error handling as part of this gem, since it's a very common task we all need when

[2021-08-06 19:14] DarkSouL11 commented on #113
@skelz0r I have used a modified version of your workaround but it does not seem to work. Any suggestions?
[code]

[2021-08-06 20:26] skelz0r commented on #113
@DarkSouL11 my bad it's not `included` but `inherited` (

For example:

[code]

Then:

[code]

I updated my original comment.

[2021-08-07 04:24] DarkSouL11 commented on #113
@skelz0r This now works for the serializer like in your example but still did not work for my case where the serializer was a little complex with multiple inheritance chain and had compound documents. I did not dig deeper as I had figured out another work around.

[code]

[2021-08-16 17:15] berkovichpavel opened #200 "Serialization::LogSubscriber.attach_to ‘jsonapi.serializable_hash'"
## Expected Behavior
tracking this method

## Actual Behavior
does not track this method

## Steps to Reproduce the Problem
I used to use fast_jsonapi.
  1.
  2.
  3.

[2021-08-24 14:34] mmustala opened #201 "How to authorize relationships with cancancan?"
I tried to look for a way to hook `accessible_by(current_ability)` into the query where the relationships are requested but was not able to find any. This must be a rather common issue that not all of the relationships should be returned for all the users. Can anyone give me a point to the right direction?

[2021-08-25 11:46] mmustala commented on #201
Ah, I just need to use the block to make it happen.

[2021-08-25 11:46] #201 closed

[2021-09-01 11:06] stas commented on #200
Hey @berkovichpavel

It looks like the namespace you are subscribing to changed:
https://github.com/jsonapi-serializer/jsonapi-serializer/blob/master/lib/jsonapi/serializer/instrumentation.rb

Please try something like
[code]

[2021-09-01 11:35] stas commented on #144
@patodevilla I'll be making Ransack a soft-dependency in v1.8:
https://github.com/stas/jsonapi.rb/milestone/1

Btw, as mentioned previously with @ekampp, none of the feedback you guys are talking about reached me at `jsonapi.rb` or here.

You can obviously fork and build your own implementations, but I think we should all be realistic about maintaining all this stuff together. Hence this discussio

[2021-09-06 06:40] berkovichpavel commented on #200
Unfortunately, this does not work(

[2021-09-14 21:24] asadakbarml opened #202 "Running method on object being serialized once"
## Expected Behavior
I am trying to find a way to run `decorate` on the object being serialized once instead of each time I use the object in an attribute definition. Ultimately I am looking for access to the object prior to any attribute methods being called.

## Actual Behavior
Currently I have to call decorate multiple times instead of once for all attribute definitions:
[code]

[2021-09-16 10:52] pedrocarmona opened #203 "[idea] Serialize Delegated Type"
Rails 6.1 added a new type of active record object, [delegated_types](https://guides.rubyonrails.org/6_1_release_notes.html#delegated-types). Its also possible to power delegated_type also via a database view.

Given this new feature, would be nice to serialize the delegated type.

Meanwhile we are doing:

[code]

Do you think it is reasonable to have support for delegated types?

Thank you all

[2021-10-02 13:17] bruno-berchielli opened #204 "Compound Document: how to return only specific attributes of included object?"
First, thank you for this awsome gem! Migrating from AMS to it.

My question is how can I make a `:include` only return specific attributes of the included object?
Currently it is returning all attributes and relations of the included object and taking several seconds to complete the request due to the large number of associated records.

Basically the idea is to use the "sparse fields" functional

[2021-10-02 13:55] bruno-berchielli commented on #204
After searching several thread found this and it works: https://github.com/jsonapi-serializer/jsonapi-serializer/issues/171

Closing this question.

Thanks

[2021-10-02 13:55] #204 closed

[2021-10-08 18:37] arinhouck commented on #21
We have implemented using fields functionality and has been great for us in our organization to solve the issue for needing to conditionally display relationships like @stas mentioned. A bit more verbose and explicit but nonetheless solved the problem.

[2021-11-23 15:35] ev8dev opened #205 "Slow deserialization for specific input"
So I'm using this library with different input data. I have certain inputs of 700 lines with as many relations as below that take 50ms to deserialize (output file: 2800 lines). This input though, takes more than 1200ms! I tried so much, but nothing solves it. Removing all desk relations but 1, makes it take 220ms which is also pretty slow.

I really can't figure out what I'm doing wrong. Could any

[2021-11-23 15:41] #205 closed

[2021-11-27 01:11] huarmenta commented on #21
@arinhouck Can you please provide an example of you solution? I'm trying to do the same for all of my serializers.

[2022-01-27 13:54] vitobotta opened #208 "Limit recursion"
## Expected Behavior

I would like to be able to somehow limit recursion when in some cases I have serializers that can reference each other.

## Actual Behavior

Due to serializers referencing each other, I have some endpoints that cause hundreds of SQL queries and eventually time out.

## Steps to Reproduce the Problem

  1. Have serializers that reference each other
  2.
  3.

## Specifications

[2022-02-01 11:56] LE-HU commented on #87
just saved my day working with JSONAPI::Serializer - same issue - make the file name correspond to the object serialized.
Thanks!

[2022-02-04 06:35] 13k opened #210 "A serializer without relationships breaks when passing `include` option to `.new`"
## Expected Behavior

A validation error (`JSONAPI::Serializer::UnsupportedIncludeError`) should be raised instead of breaking.

## Actual Behavior

A `NoMethodError` is raised when [trying to access](https://github.com/jsonapi-serializer/jsonapi-serializer/blob/bcee2b597b590b449926f91ba57efba7d34f3248/lib/fast_jsonapi/object_serializer.rb#L343) `.relationships_to_serialize`, which is `nil`.

## S

[2022-02-04 14:23] stas commented on #210
Thanks @13k
I think this is a valid issue and I couldn't find a test case to cover it.

Btw, most of this stuff related to inheritance and mutability was addressed in #141. Appreciate you taking a look at it instead of what's on master.

But I'm definitely not happy with the idea of staying tied to `active_support` though :)

[2022-02-04 18:04] 13k commented on #210
Oh, I didn't see that PR, thanks for mentioning it. I'll take a look at it.

And I agree about `active_support`, just mentioned it because the gem already depended on it (again, I hadn't seen the rewrite PR).

[2022-02-09 21:50] omar-countable opened #211 "Exclude `self` link from serializing"
Hey there!

## Expected Behavior
I'm trying to serialize an object without its self link, so far I've tried:
[code]
and also
[code]

My expectation is something like:

[code]
Or maybe even no `links` field at all, inside or outside the `data` field, but instead...

## Actual Behavior
I'm getting:

[code]
## Steps to Reproduce the Problem

  1. Try to exclude self link from a serializer

## Specifi

[2022-02-10 14:08] omar-countable commented on #211
My current solution:
[code]
🤷

[2022-02-18 17:19] curtis741 opened #212 "Add attribute in options?"
I have a one of request where I want to include a count of items a user has. I've got this querry:
[code]

And wondering about the best way to include "items_count" as an attribute in this case. I'm going to take this approach for now:
[code]
it just seems a bit clunky to make a whole serializer for this one off endpoint. I feel like I should be able to do this?
`UserSerializer.new(users, { add_at

[2022-05-03 13:40] nirmal-vaja commented on #186
Hey @stas,

This didn't worked. Have  you got any other idea?

[2022-05-03 13:41] nirmal-vaja commented on #186
Hey @gastoncusimano ,

Have you came up with any way to do this?

[2022-05-08 20:52] chrissyast opened #215 "Boilerplate-free way to convert to camelCase?"
I have seen this library linked in many solutions to converting all of the attribute names from snake case to camel case, but from reading the documentation it seems that a serializer is needed for every single model. Is there a way to just change everything to camel case by default?

[2022-05-26 16:14] matheussilvasantos opened #216 "Can we have a new release on Rubygems?"
Most recent changes for making it work with Ruby 3 aren't published there, https://github.com/jsonapi-serializer/jsonapi-serializer/pull/160, for example.

[2022-05-26 16:21] stas commented on #216
Hey @matheussilvasantos we're using the current version on Ruby v3 without any issues, do you have something specific in mind?

[2022-05-26 17:56] matheussilvasantos commented on #216
The last update [here](https://rubygems.org/gems/jsonapi_serializer) is from 2018. Could you release a new version there?

[2022-05-27 10:43] krisquigley commented on #216
The latest version is here https://rubygems.org/gems/jsonapi-serializer

The latest version is here https://rubygems.org/gems/jsonapi-serializer

[2022-05-27 11:04] krisquigley commented on #180
I'm having the same issue @benlieb, did you find a solution to this?  I can query just the attributes I want for an association, but then the `relationships` object is empty.

[2022-05-27 11:31] matheussilvasantos commented on #216
oh 🤦

[2022-05-27 16:47] #216 closed

[2022-06-03 20:22] rkwap opened #218 "feature: introduction to optional attributes"
Suppose we have to use ArticleSerializer to serve article data on multiple endpoints.

Let's assume these attributes to the serializer:

`attributes :title, :slug, :description, :is_popular, :content, :collaborators, :tags`
and some more...

Since we don't use all of those attributes in all actions, eg. in **#index,** we will not query for tags or serve the content unnecessarily.
similarly, **is_p

[2022-06-06 12:13] stas commented on #218
Hi there @rkwap
Appreciate sharing your feedback re the library API.

I went through all the details and I'm not sure I understand what's the issue.
To bring it down, a serializer is a plain Ruby object, meaning you can apply any core Ruby composability into it. The goal of this library is to provide JSONAPI specific functionality, and leave it to the core Ruby features to make it easy to compose

[2022-06-21 21:42] curtis741 opened #221 "meta per Resource Identifier Objects for relationship"
As I read the spec here:
https://jsonapi.org/format/#document-resource-identifier-objects

I should be able to put a meta object on each object within a has_many relationship.

Right now it only supports having a meta on the relationship itself, not on each object within the relationship.

A resource must contain one of the following: `links`, `meta` or `data`. A `data` object is referred to as a

[2022-07-27 11:13] stas commented on #221
Indeed it's no a requirement. Both payloads you shared are valid.

Please let me know if I can help clarify this in a better way.

[2022-07-27 11:14] stas commented on #215
@chrissyast apologies for the late reply.

Technically you should be able to use the key transforms option to change the naming scheme.
https://github.com/jsonapi-serializer/jsonapi-serializer#key-transforms

[2022-07-27 11:17] stas commented on #212
Huh, nope lol. A bit more context, a serializer attribute should play well with the `fields` and `includes` API. So it's not really interesting to explore this direction because it would simply not be backwards compatible with the rest of the features.

[2022-07-27 11:17] #212 closed

[2022-07-27 11:17] #215 closed

[2022-07-27 11:17] #221 closed

[2022-07-27 11:23] stas commented on #211
Hey, sorry for the late reply.
The JSONAPI spec suggests there should be no _empty_ `links`:
https://jsonapi.org/format/#document-links

At the moment we keep the `links` with a self and I don't think there's a way to remove it. But you can obviously create a `BaseSerializer` that patches `serializable_hash` to return a _link-less_ payload.

[2022-07-27 11:23] #211 closed

[2022-07-27 11:26] stas commented on #208
Hi there @vitobotta

Have you considered using paginated responses?

This sounds like there's something _funny_ in the way you guys are using the serializers. Try to not create circular dependencies within the same serializer via `include` and such. Not sure I have other ideas, but if you post some examples for the context, I'd be happy to look into it.

[2022-07-27 11:31] stas commented on #203
Hey @pedrocarmona
I'm not sure this is something that needs a special functionality. I'm not familiar with the `delegated_types`, but if this is just a matter of the _pre-processing_ the args, that can be done as part of "your" own `BaseSerializer` and use it to inherit from for other serializers.

Happy to look into things that make the gem unusable because of that. I know we did some work to get

[2022-08-04 12:36] zcserei opened #225 "Limit"
## Expected Behavior

I would like to limit the number of `included` resources.

## Actual Behavior

Every associated resource gets included.

--

I'm not using the rest of the template as it does not really apply in this case. What I would like to achieve is to load a resource, include one or two has_many associations and only get the first five resources on each. Is there a way to do this from t

[2022-09-07 16:02] jrochkind commented on #144
I wound up here after being surprised that jsonapi-serializer didn't support pagination, even for serializing. It seems like a core serializing feature to me; but maybe there's some way to put the pagination keys in the serialization I haven't figured out yet?

But anyway... it's clear the maintenance resources for _any_ of these gems are dwindling, making it hard to even keep supporting them as t

[2022-09-07 16:12] stas commented on #144
@jrochkind I think the topics you're touching are different, there's shipping v3 and maintenance for v2.

I honestly was hoping to see more interest in v3, but there's none or very little. 1-2 times folks raised the question if this project is dead, and my opinion didn't changed: I don't want to change things that are working. And I'm running 2-3 projects which fully depend on the API side on `jso

[2022-09-07 16:27] jrochkind commented on #144
Thanks for reponse! This might not be the right thread for it, but I guess I'm confused about the stance towards new features/improvements.

If the README is correct that new features/improvements are not welcome in 2.x/main branch, but it's also true that a 3.x release is not actually currently in the cards... does that mean that jsonapi-serializer is not currently accepting new features at all,

[2022-09-07 16:57] stas commented on #144
Incorrect, the PR describes the current state of things, it's just only me who was pushing for it. The core functionality runs fine, the changes fix and open up the doors for new features which previously were blocked because of a rushed release/incomplete implementation of some specs (full list is in the #141 description).

I really don't advise and support the idea of merging new features into v

[2022-09-07 16:57] #144 closed

[2022-09-07 17:00] jrochkind commented on #144
Thanks!

If i had a new feature to propose or PR, I'm still confused about what is invited though. Not welcome in 2.x, and in 3.x it's unlikely to see the light of day.... Or, maybe I'm not confused, maybe I'm getting the idea that currently new feature requests or PR's are _not_ invited on this project, if one comes up I should not bother trying to describe it or PR it here?

[2022-09-07 17:00] stas opened #226 "JSONAPI v1.1 is imminent"
Just a reminder for myself that [JSONAPI v1.1](https://jsonapi.org/format/1.1/) is about to be released (h/t @ jrochkind :pray:).

It would be nice to get familiar with the changes there and lay out the foundation for v1.1 support in the next major release.

[2022-09-07 17:01] jrochkind commented on #144
In particular I am currently thinking about better support for pagination links in serialization... But I am concluding there is no reason to file an issue or PR, it's not invited here;  that is something I should just do myself in local code and/or a fork?

[2022-09-07 17:04] stas commented on #144
@jrochkind tbh, maybe just start with opening an issue and not a PR?

I usually try to help/provide support directions on new requests.

If this is part of the v1.0 spec (which I don't remember it to be), I'll be happy to review it. If it's not, it's probably worth looking into the `jsonapi.rb` for that sort of functionality.

This project is really just about getting the spec implemented, hence t

[2022-09-07 17:14] jrochkind commented on #144
OK, I'm still stuck on the fact that the README says new features are not welcome in 2.x, but the 3.x branch says there is no current expected release of 3.x.

So from that I conclude, that new features are not invited... but ok, I will consider  opening an issue and getting more feedback there, since you clearly are responsive! thanks!

Yes, pagination links are part of the 1.0 spec. https://json

[2022-09-07 17:29] stas commented on #144
The spec says:

It was not implemented because the implementation is specific to how one's integrating the library (you need access to the request object and support for the serializable object type, be that ActiveRecord or other flavor). I'd also argue if that's an actual concern of the "serailization" purpose, which is in fact this gem doing.

Which makes an argument why the pagination is not pa

[2022-09-07 17:45] jrochkind commented on #144
OK, no need for opening an issue then, thanks!

This is only meant to support things that are _required_ by the spec, not things allowed with "may"? I'm pretty confused, I don't think that's true, it already supports all sorts of "may" stuff, doesn't it?  But regardless, you don't want to support pagination here, that's your call!

I think I can maybe still add pagination links myself, I'll experi

[2022-09-07 18:03] stas commented on #144
No saltiness, just saying it doesn't make sense for me to merge the pagination when I still need to do legwork on how includes/filters work outside of this gem. We either follow the separation of concerns, or don't :upside_down_face:

I'm not sure what do you mean by this. Appreciate if you can provide a concrete example :pray:

[2022-09-07 18:18] jrochkind commented on #144
I guess I just mean I don't love module mix-ins to Rails controllers, with specified methods to override locally, as a way of accessing behavior.

[2022-09-07 18:34] stas commented on #144
Sorry ser, but we need to allow the folks to adjust the methods and overwrite potentially the default behavior :smiling_face_with_tear:

A module or a class will be a minimal requirement for such an implementation. And if I have to chose, it will be a module because then anybody can compose their own class with it :v:

When I suggested a concrete example, I'm really trying to say I want to underst

[2022-09-07 18:38] jrochkind commented on #144
I'm sorry if I was being confrontational or accusatory, I didn't mean to be, but sometimes am accidentally.

I just don't like module mix-ins to Rails controllers as a pattern, I find that it often results in hard-to-understand , hard-to-debug, potential of conflict, "magic" seeming behavior.  I prefer more explicit APIs where I just call things, instead of what we could call "them calling me" (fr

[2022-09-07 18:50] stas commented on #144
Thank you @jrochkind, no hard feelings. Honestly just trying to listen and understand here. :hugs:

[2022-09-07 20:17] ziggythehamster commented on #144
We fall into this bucket for sure. I would love to drop our fork (backporting something from v3 into v2, #178) and also get our other PR (https://github.com/stas/jsonapi.rb/pull/45) back to a mergeable state, but everything works so well in this library that we've let it fall off our radar.

I have yet to dig into v3 to see how different its API is (or if I did, I don't remember), but I wonder if

[2022-09-07 21:43] jrochkind commented on #144
Adding behavior to a controller with a module mix-in is definitely inheritance, not composition!  (See for instance https://cek.io/blog/2014/05/26/poodr-ch-7/ for some discussion) But whatever works for you works for you!

[2022-09-07 22:42] ziggythehamster commented on #144
From the followup post:

This tends to be how we use mixins/concerns. e.g., our pagination concern adds this DSL method to controllers which request it:

[code]

A controller could instead not set this and a default policy is applied. Under the hood, methods are added to the controller that get picked up by this library and then dispatch pagination to Kaminari, but controller authors need not conc

[2022-09-12 20:17] jrochkind commented on #183
I am interested in this feature!

Do I understand correctly that: PR is not feasible/welcome for this against 2.x;  it is planned for 3.x; but there is no ETA and currently no work going on on 3.x?

if so, alternately, does anyone have a monkey-patch that succesfully adds this to 2.x? Some of the discussion above seemed to imply that perhaps someone did?

[2022-09-12 20:18] jrochkind commented on #121
I am interested in this feature!

Do I understand correctly that: PR is not feasible/welcome for this against 2.x; it is planned for 3.x; but there is no ETA and currently no work going on on 3.x?

if so, alternately, does anyone have a monkey-patch that succesfully adds this to 2.x? Some of the discussion above seemed to imply that perhaps someone did?

Or is there any chance of reconsidering #12

[2022-09-12 21:03] dvandersluis commented on #121
@jrochkind we are still using the fork I made for that PR (and have been for a few years) in production. I haven't touched it since more than a year ago and it's not fully up to date with master here but you could use it if you wanted: https://github.com/pexels/jsonapi-serializer/tree/heterogeneous-collection

[2022-09-12 21:41] stas commented on #121
It's taken care in the #141
https://github.com/jsonapi-serializer/jsonapi-serializer/blob/rewrite/spec/integration/mixed_collection_spec.rb

[2022-09-12 22:32] jrochkind commented on #121
@stas Thanks! My understanding is that #141 is the 3.0 release, which is currently not having much progress due to lack of time/interest?  From your last comments on #141 five months ago, I conclude that we should not really expect a 3.0 release on any particular timeline, like not necessarily in 2022, or in even 2023?

But I may be misunderstanding, that's why I ask!

If there are no plans for #1

[2022-09-12 23:15] stas commented on #121
@jrochkind I've handled heterogeneous serialization in a much cleaner way without forking the v2. Eg.:

[code]

Which suggests I'm not interested in merging and maintaining the PR for two reasons:
 * the PR doesn't provide an API to handle a collection of actual heterogeneous records
 * the solution is hackish: `serializer_for()` has a ton of issues

---

Guys, nobody even bothered to test or run